<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Profile</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
    <script th:src="@{/css/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.min.js}"></script>
    <link rel="stylesheet" th:href="@{/css/my_profile.css}">
</head>
<body>
    <div class="background-header p-3 ml-0 fixed-top d-block">
        <div class="d-inline p-3 mx-0 ml-0 text-white logo-header">
            <img alt="Logo MKSOL" th:src="@{/asset/sakaiLogo.png}" />
            <i class="bi bi-list d-inline"></i>
        </div>
        <div class="d-inline p-3 content-header">
            <a href="#" class="text-white px-3">Home</a>
            <a href="#" class="text-white">Profile</a>
        </div>
    </div>
    <div class="d-block bg-dark text-white" style="margin-top: 4%">
        <div class="d-block bg-dark text-white" style="padding-top: 3%">
        </div>
    </div>
</body>
</html>
