  <div class="header-navbar navbar-expand-sm navbar navbar-horizontal navbar-fixed navbar-light navbar-without-dd-arrow navbar-bordered navbar-shadow"
  role="navigation" data-menu="menu-wrapper">
    <!-- Horizontal menu content-->
    <div class="navbar-container main-menu-content" data-menu="menu-container">
      <!-- include ../../../includes/mixins-->
      <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
        <li class="dropdown nav-item" data-menu="dropdown">
          <a class="nav-link" th:href="@{/}"><i class="icon-home"></i>
            <span data-i18n="nav.dash.main" th:text="#{homepage}">Home</span>
          </a>
        </li>
        <li class="dropdown mega-dropdown nav-item" data-menu="megamenu"><a class="dropdown-toggle nav-link" href="#" data-toggle="dropdown"><i class="icon-settings"></i><span data-i18n="nav.category.addons" th:text="#{settings}">Settings</span></a>
          <ul class="mega-dropdown-menu dropdown-menu row">
            <li class="col-md-3" data-mega-col="col-md-3">
              <a th:href="@{/stock}">
                  <h6 class="dropdown-menu-header text-uppercase" data-toggle="dropdown"><i class="icon-note"></i>Dữ liệu
                  </h6>
              </a>
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="editor-quill.html"><i></i>Kho hàng 1</a>
                    </li>
                    <li><a class="dropdown-item" href="editor-ckeditor.html"><i></i>Kho hàng 2</a>
                    </li>
                    <li><a class="dropdown-item" href="editor-summernote.html"><i></i>Kho hàng 3</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="col-md-3" data-mega-col="col-md-3">
              <h6 class="dropdown-menu-header text-uppercase" data-toggle="dropdown"><i class="icon-chemistry"></i>jQuery UI
              </h6>
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="jquery-ui-interactions.html"><i></i>Interactions</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-navigations.html"><i></i>Navigations</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-date-pickers.html"><i></i>Date Pickers</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-autocomplete.html"><i></i>Autocomplete</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-buttons-select.html"><i></i>Buttons &amp; Select</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-slider-spinner.html"><i></i>Slider &amp; Spinner</a>
                    </li>
                    <li><a class="dropdown-item" href="jquery-ui-dialog-tooltip.html"><i></i>Dialog &amp; Tooltip</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="col-md-3" data-mega-col="col-md-3">
              <h6 class="dropdown-menu-header text-uppercase" data-toggle="dropdown"><i class="icon-mouse"></i>Other Addons
              </h6>
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="#"><i class="icon-calendar5"></i>Pickers</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="pickers-date-&amp;-time-picker.html"><i></i>Date &amp; Time Picker</a>
                        </li>
                        <li><a class="dropdown-item" href="pickers-color-picker.html"><i></i>Color Picker</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item" href="add-on-block-ui.html"><i class="icon-security"></i>Block UI</a>
                    </li>
                    <li><a class="dropdown-item" href="add-on-image-cropper.html"><i></i>Image Cropper</a>
                    </li>
                    <li><a class="dropdown-item" href="add-on-drag-drop.html"><i class="icon-arrow-move"></i>Drag &amp; Drop</a>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="icon-cloud-upload3"></i>File Uploader</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="file-uploader-dropzone.html"><i></i>Dropzone</a>
                        </li>
                        <li><a class="dropdown-item" href="file-uploader-jquery.html"><i></i>jQuery File Upload</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="dropdown-item" href="#"><i class="icon-calendar4"></i>Event Calendars</a>
                      <ul class="mega-menu-sub">
                        <li><a class="dropdown-item" href="#"><i></i>Full Calendar</a>
                          <ul class="mega-menu-sub">
                            <li><a class="dropdown-item" href="full-calender-basic.html"><i></i>Basic</a>
                            </li>
                            <li><a class="dropdown-item" href="full-calender-events.html"><i></i>Events</a>
                            </li>
                            <li><a class="dropdown-item" href="full-calender-advance.html"><i></i>Advance</a>
                            </li>
                            <li><a class="dropdown-item" href="full-calender-extra.html"><i></i>Extra</a>
                            </li>
                          </ul>
                        </li>
                        <li><a class="dropdown-item" href="calendars-clndr.html"><i class="icon-calendar2"></i>CLNDR</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="col-md-3" data-mega-col="col-md-3">
              <h6 class="dropdown-menu-header text-uppercase" data-toggle="dropdown"><i class="icon-info"></i>Internationalization
              </h6>
              <ul class="drilldown-menu">
                <li class="menu-list">
                  <ul class="mega-menu-sub">
                    <li><a class="dropdown-item" href="i18n-resources.html"><i></i>Resources</a>
                    </li>
                    <li><a class="dropdown-item" href="i18n-xhr-backend.html"><i></i>XHR Backend</a>
                    </li>
                    <li><a class="dropdown-item" href="i18n-query-string.html?lng=en"><i></i>Query String</a>
                    </li>
                    <li><a class="dropdown-item" href="i18n-on-init.html"><i></i>On Init</a>
                    </li>
                    <li><a class="dropdown-item" href="i18n-after-init.html"><i></i>After Init</a>
                    </li>
                    <li><a class="dropdown-item" href="i18n-fallback.html"><i></i>Fallback</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="dropdown nav-item" data-menu="dropdown">
          <a class="nav-link" th:href="@{/storage}"><i class="icon-action-redo"></i>
            <span data-i18n="nav.dash.main" th:text="#{storage}">Storage</span>
          </a>
        </li>
      </ul>
    </div>
    <!-- /horizontal menu content-->
  </div>