<!-- <div class="d-flex justify-content-center m-5 mb-0">
	<i class="bi bi-people-fill text-white mr-2"></i>
	<p> </p>
</div> -->
< <div class="container mt-5">
	<div class="row">
		<h2 class="text-center mb-4">Your CV</h2>
		<div class="embed-responsive">
			<embed class="embed-responsive-item"
				src="resources/assets/file/cv-xin-viec-nguoi-mau.pdf"
				type="application/pdf" style="width: 80%; height: 500%;">
		</div>
<!-- 		<hr class="text-white bg-white position-relative">
		<a href="resources/assets/file/cv-xin-viec-nguoi-mau.pdf" download
			class="btn MKSOuploadform text-white">Download Word</a> -->

	</div>
</div> 
<!-- <hr class="text-white bg-white mx-5" >
<button type="button" class="btn MKSOuploadform text-white mx-5">Download</button> -->


