<ul class="nav nav-tabs MKSOLheadertabs">
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/MyProfile"
		id="tabprofile">My profile</a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/MyPictures"
		id="tabPictures">Pictures </a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink active" href="/myo-web/MyConnections"
		id="tabConnections">Connections</a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/MyMessages"
		id="tabMessages">Messages</a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/MySearch"
		id="tabSearch">Search</a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/MyPrivacy"
		id="tabPrivacy">Privacy</a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/MyPreferences"
		id="tabPreferences">Preferences</a></li>
<!-- 	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/MyCV"
		id="tabPreferences">CV Generate</a></li> -->
	<li class="nav-item MKSOLheaderitem" id="navbarDropdown"><div
			class="dropdown">
			<a class="btn dropdown-toggle" href="#" role="button"
				id="dropdownMenuLink" data-bs-toggle="dropdown"
				aria-expanded="false">CV </a>

			<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
				<li><a class="dropdown-item" href="/myo-web/MyCV">PDF</a></li>
				<li><a class="dropdown-item" href="/myo-web/MyCVWord">DOC</a></li>
			</ul>
		</div></li>
</ul>

