<div class="container-fluid mt-2" th:if="${user}">
	<div class="row d-flex justify-content-start">
		<div class="col-3">
			<img alt="avatar" src="resources/assets/img/profile/avatar.jpg"
				id="MKSOLavatarprofile">
			<button class="btn btn-secondary d-block btn-sm"
				id="MKSOLchangpictureprofile">
				<i class="bi bi-pencil"></i> Change picture
			</button>
		</div>
		<div class="col-7">
			<h3 class="" th:text="'' + ${user.getLast_modified_by()}"></h3>
			<div class="form-group MKSOuploadform p-3 rounded">
				<label for="exampleInputEmail1">Status</label> <input type="email"
					class="form-control mt-2 mb-2" id="exampleInputEmail1"
					aria-describedby="emailHelp" placeholder="Say Something">
				<button type="submit" class="btn btn-primary btn-sm">Say it</button>

			</div>
			<a href="/myo-web/MyProfile"
				class="text-white link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover">Profile</a>

			<hr class="hr" />
			<h6>Basic Information</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplayinfoform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getDisplay_name() == null && user.getPostal_address() == null && user.getDescription() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getDisplay_name() != null}">
								Name: <span class="fw-normal"
									th:text="${user.getDisplay_name()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getPostal_address() != null}">
								Address: <span class="fw-normal"
									th:text="${user.getPostal_address()}"></span>
							</p>
							<p class="fw-bold d-inline"
								th:if="${user.getDescription() != null}">
								Personal summary: <span class="fw-normal"
									th:text="${user.getDescription()}"></span>
							</p>
						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton" onclick="MKSOLeditbuttoninvisible()">
								<i class="bi bi-pencil MKSOLProfileEdit"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm1">

				<div id="MKSOLeditform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Name</p>
								<p class="fw-bold">Address</p>
								<p class="fw-bold">Personal summary</p>
							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLName" aria-describedby="MKSOLName" name="Name"
									th:value="${user.getDisplay_name()}"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLAddress" aria-describedby="MKSOLAddress"
									name="Address" th:value="${user.getPostal_address()}">
								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLPersonalsummary"
									aria-describedby="MKSOLPersonalsummary" name="description"
									th:value="${user.getDescription()}">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br>

			<h6>Name Pronunciation and Pronouns</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplaypronunciationform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getPronouns() == null && user.getPhonetic_pronunciation() == null && user.getCommon_name() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getPronouns() != null}">
								Pronouns: <span class="fw-normal"
									th:text="${user.getPronouns()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getPhonetic_pronunciation() != null}">
								Phonetic Pronunciation: <span class="fw-normal"
									th:text="${user.getPhonetic_pronunciation()}"></span>
							</p>

							<p class="fw-bold d-inline"
								th:if="${user.getCommon_name() != null}">
								Name Recording: <span class="fw-normal"
									th:text="${user.getCommon_name()}"></span>
							</p>
						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton"
								onclick="MKSOLeditpronunciationbuttoninvisible()">
								<i class="bi bi-pencil MKSOLProfileEdit"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm2">

				<div id="MKSOLeditpronunciationform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Pronouns:</p>
								<p class="fw-bold">Phonetic Pronunciation:</p>
								<p>Examples:</p>
								<p class="fw-bold">Name Recording:</p>

							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLPronouns" aria-describedby="MKSOLPronouns"
									name="Pronouns" th:value="${user.getPronouns()}"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLPhoneticPronunciation"
									aria-describedby="MKSOLPhoneticPronunciation"
									name="PhoneticPronunciation"
									th:value="${user.getPhonetic_pronunciation()}">
								<p>kris-TEEN BEAR-it (Christine Berret) uh-JEET CHOW-lah
									(Ajeet Chawla)</p>

								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLCommonName" aria-describedby="MKSOLCommonName"
									name="CommonName" th:value="${user.getCommon_name()}">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditpronunciationsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel"
							onclick="MKSOLeditpronunciationcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br>
			<h6>Contact Information</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplaycontactform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getLast_modified_by() == null && user.getHome_postal_address() == null && user.getTelephone_number() == null && user.getHome_phone() == null && user.getMobile() == null && user.getFax_number() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getLast_modified_by() != null}">
								Email: <span class="fw-normal"
									th:text="${user.getLast_modified_by()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getHome_postal_address() != null}">
								Home page: <span class="fw-normal"
									th:text="${user.getHome_postal_address()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getTelephone_number() != null}">
								Work phone: <span class="fw-normal"
									th:text="${user.getTelephone_number()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getHome_phone() != null}">
								Home phone: <span class="fw-normal"
									th:text="${user.getHome_phone()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getMobile() != null}">
								Mobile phone: <span class="fw-normal"
									th:text="${user.getMobile()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getFax_number() != null}">
								Facsimile: <span class="fw-normal"
									th:text="${user.getFax_number()}"></span>
							</p>
						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton" onclick="MKSOLeditcontactbuttoninvisible()">
								<i class="bi bi-pencil MKSOLProfileEdit"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm3">

				<div id="MKSOLeditcontactform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Email</p>
								<p class="fw-bold">Home page</p>
								<p class="fw-bold">Work phone</p>
								<p class="fw-bold">Home phone</p>
								<p class="fw-bold">Mobile phone</p>
								<p class="fw-bold">Facsimile</p>

							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLEmail" aria-describedby="MKSOLEmail" name="Email"
									th:value="${user.getLast_modified_by()}"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLHomepage" aria-describedby="MKSOLHomepage"
									name="Homepage" th:value="${user.getHome_postal_address()}">
								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLWorkphone" aria-describedby="MKSOLWorkphone"
									name="Workphone" th:value="${user.getTelephone_number()}">
								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLHomephone" aria-describedby="MKSOLHomephone"
									name="Homephone" th:value="${user.getHome_phone()}"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLMobilephone" aria-describedby="MKSOLMobilephone"
									name="Mobilephone" th:value="${user.getMobile()}"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLFacsimile" aria-describedby="MKSOLFacsimile"
									name="Facsimile" th:value="${user.getFax_number()}">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcontactsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditcontactcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>


			</br> </br> </br>
			<h6>Staff Information</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplaystaffform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getStaff_profile() == null && user.getDepartment_number() == null && user.getOrganization() == null && user.getRoom_number() == null && user.getEmployee_type() == null && user.getUniversity_profile_url() == null && user.getAcademic_profile_url() == null && user.getPublications() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getEmployee_type() != null}">
								Position: <span class="fw-normal"
									th:text="${user.getEmployee_type()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getDepartment_number() != null}">
								Department: <span class="fw-normal"
									th:text="${user.getDepartment_number()}"></span>
							</p>
							<p class="fw-bold d-inline"
								th:if="${user.getOrganization() != null}">
								School: <span class="fw-normal"
									th:text="${user.getOrganization()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getRoom_number() != null}">
								Room: <span class="fw-normal" th:text="${user.getRoom_number()}"></span>
							</p>

							<p class="fw-bold" th:if="${user.getStaff_profile() != null}">
								Staff profile: <span class="fw-normal"
									th:text="${user.getStaff_profile()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getUniversity_profile_url() != null}">
								University profile URL: <span class="fw-normal"
									th:text="${user.getUniversity_profile_url()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getAcademic_profile_url() != null}">
								Academic/research URL: <span class="fw-normal"
									th:text="${user.getAcademic_profile_url()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getPublications() != null}">
								Publications and conferences: <span class="fw-normal"
									th:text="${user.getPublications()}"></span>
							</p>
						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton" onclick="MKSOLeditstaffbuttoninvisible()">
								<i class="bi bi-pencil MKSOLProfileEdit"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm4">

				<div id="MKSOLeditstaffform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Position:</p>
								<p class="fw-bold">Department:</p>
								<p class="fw-bold">School:</p>
								<p class="fw-bold">Room:</p>
								<p class="fw-bold">Staff profile:</p>
								<p class="fw-bold">University profile URL:</p>
								<p class="fw-bold">Academic/research URL:</p>
								<p class="fw-bold">Publications and conferences:</p>
							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLPosition" aria-describedby="MKSOLPosition"
									name="Position" th:value="${user.getEmployee_type()}">
								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLDepartment" aria-describedby="MKSOLDepartment"
									name="Department" th:value="${user.getDepartment_number()}">
								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLSchool" aria-describedby="MKSOLSchool" name="School"
									th:value="${user.getOrganization()}"> <input
									type="text" class="form-control  MKSOLedittext" id="MKSOLRoom"
									aria-describedby="MKSOLRoom" name="Room"
									th:value="${user.getRoom_number()}"> <input type="text"
									class="form-control  MKSOLedittext" id="MKSOLStaffprofile"
									aria-describedby="MKSOLStaffprofile" name="Staffprofile"
									th:value="${user.getStaff_profile()}"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLUniversityprofileURL"
									aria-describedby="MKSOLUniversityprofileURL"
									name="UniversityprofileURL"
									th:value="${user.getUniversity_profile_url()}"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLAcademicresearchURL"
									aria-describedby="MKSOLAcademicresearchURL"
									name="AcademicresearchURL"
									th:value="${user.getAcademic_profile_url()}"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLPublicationsandconferences"
									aria-describedby="MKSOLPublicationsandconferences"
									name="Publicationsandconferences"
									th:value="${user.getPublications()}">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditstaffsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditstaffcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br>

			<h6>Student Information</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplaystudentform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getEducation_course() == null && user.getEducation_subjects() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getEducation_course() != null}">
								Degree/Course: <span class="fw-normal"
									th:text="${user.getEducation_course()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getEducation_subjects() != null}">
								Subjects: <span class="fw-normal"
									th:text="${user.getEducation_subjects()}"></span>
							</p>

						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton" onclick="MKSOLeditstudentbuttoninvisible()">
								<i class="bi bi-pencil MKSOLProfileEdit"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm5">

				<div id="MKSOLeditstudentform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Degree/Course</p>
								<!-- 								<p class="fw-bold">Birthday</p>
 -->
								<p class="fw-bold">Subjects</p>
							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLCourse" aria-describedby="MKSOLCourse" name="Course"
									th:value="${user.getEducation_course()}">

								<!-- 			<input type="text"
									class="form-control  MKSOLedittext" id="MKSOLBirthday"
									aria-describedby="MKSOLBirthday" name="dateOfBirth"> -->

								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLSubjects" aria-describedby="MKSOLSubjects"
									name="Subjects" th:value="${user.getEducation_subjects()}">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditstudentsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditstudentcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br>

			<!-- 			<h6>Social Networking</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplayinfoform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getNickname() == null && user.getDateofbirth() == null && user.getDescription() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getNickname() != null}">
								Facebook URL: <span class="fw-normal"
									th:text="${user.getNickname()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getDateofbirth() != null}">
								LinkedIn URL: <span class="fw-normal"
									th:text="${user.getDateofbirth()}"></span>
							</p>
							<p class="fw-bold d-inline"
								th:if="${user.getDescription() != null}">
								MySpace URL: <span class="fw-normal"
									th:text="${user.getDescription()}"></span>
							</p>
								<p class="fw-bold d-inline"
								th:if="${user.getDescription() != null}">
								Instagram URL: <span class="fw-normal"
									th:text="${user.getDescription()}"></span>
							</p>
								<p class="fw-bold d-inline"
								th:if="${user.getDescription() != null}">
								Skype username: <span class="fw-normal"
									th:text="${user.getDescription()}"></span>
							</p>
								<p class="fw-bold d-inline"
								th:if="${user.getDescription() != null}">
								Twitter URL: <span class="fw-normal"
									th:text="${user.getDescription()}"></span>
							</p>
						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton" onclick="MKSOLeditbuttoninvisible()">
								<i class="bi bi-pencil"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm">

				<div id="MKSOLeditform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Nickname</p>
																<p class="fw-bold">Birthday</p>

								<p class="fw-bold">Personal summary</p>
							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLNickname" aria-describedby="MKSOLNickname"
									name="nickname">

											<input type="text"
									class="form-control  MKSOLedittext" id="MKSOLBirthday"
									aria-describedby="MKSOLBirthday" name="dateOfBirth">

								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLPersonalsummary"
									aria-describedby="MKSOLPersonalsummary" name="description">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br> -->

			<h6>Personal Information</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplaypersonalform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getFavourite_books() == null && user.getFavourite_tv_shows() == null && user.getFavourite_movies() == null && user.getFavourite_quotes() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getFavourite_books() != null}">
								Favorite books: <span class="fw-normal"
									th:text="${user.getFavourite_books()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getFavourite_tv_shows() != null}">
								Favorite TV shows: <span class="fw-normal"
									th:text="${user.getFavourite_tv_shows()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getFavourite_movies() != null}">
								Favorite movies: <span class="fw-normal"
									th:text="${user.getFavourite_movies()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getFavourite_quotes() != null}">
								Favorite quotes: <span class="fw-normal"
									th:text="${user.getFavourite_quotes()}"></span>
							</p>


						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton"
								onclick="MKSOLeditpersonalbuttoninvisible()">
								<i class="bi bi-pencil MKSOLProfileEdit"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm6">

				<div id="MKSOLeditpersonalform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Favorite books</p>
								<!-- 								<p class="fw-bold">Birthday</p>
 -->
								<p class="fw-bold">Favorite TV shows</p>
								<p class="fw-bold">Favorite movies</p>
								<p class="fw-bold">Favorite quotes</p>


							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLbooks" aria-describedby="MKSOLbooks" name="books"
									th:value="${user.getFavourite_books()}"> <input
									type="text" class="form-control  MKSOLedittext" id="MKSOLshows"
									aria-describedby="MKSOLshows" name="shows"
									th:value="${user.getFavourite_tv_shows()}"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLmovies" aria-describedby="MKSOLmovies" name="movies"
									th:value="${user.getFavourite_movies()}"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLquotes" aria-describedby="MKSOLquotes" name="quotes"
									th:value="${user.getFavourite_quotes()}">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditpersonalsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditpersonalcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br>
		</div>
	</div>
</div>
<div th:unless="${user}">
	<p>User not found!</p>
</div>


<script>
function handleSubmit(formId) {
    var form = document.getElementById(formId);
    var formData = new FormData(form);

    var description = formData.get('description');
    var Name = formData.get('Name');
    var Address = formData.get('Address');
    var Pronouns = formData.get('Pronouns');
    var PhoneticPronunciation = formData.get('PhoneticPronunciation');
    var CommonName = formData.get('CommonName');
    var Email = formData.get('Email');
    var Homepage = formData.get('Homepage');
    var Workphone = formData.get('Workphone');
    var Homephone = formData.get('Homephone');
    var Mobilephone = formData.get('Mobilephone');
    var Facsimile = formData.get('Facsimile');
    var Position = formData.get('Position');
    var Department = formData.get('Department');
    var School = formData.get('School');
    var Room = formData.get('Room');
    var Staffprofile = formData.get('Staffprofile');
    var UniversityprofileURL = formData.get('UniversityprofileURL');
    var AcademicresearchURL = formData.get('AcademicresearchURL');
    var Publicationsandconferences = formData.get('Publicationsandconferences');
    var Course = formData.get('Course');
    var Subjects = formData.get('Subjects');
    var books = formData.get('books');
    var shows = formData.get('shows');
    var movies = formData.get('movies');
    var quotes = formData.get('quotes');

    var url = '/myo-web/MyProfileUpdate?';

    url += 'description=' + encodeURIComponent(description) + '&';
    url += 'Name=' + encodeURIComponent(Name) + '&';
    url += 'Address=' + encodeURIComponent(Address) + '&';
    url += 'Pronouns=' + encodeURIComponent(Pronouns) + '&';
    url += 'PhoneticPronunciation=' + encodeURIComponent(PhoneticPronunciation) + '&';
    url += 'CommonName=' + encodeURIComponent(CommonName) + '&';
    url += 'Email=' + encodeURIComponent(Email) + '&';
    url += 'Homepage=' + encodeURIComponent(Homepage) + '&';
    url += 'Workphone=' + encodeURIComponent(Workphone) + '&';
    url += 'Homephone=' + encodeURIComponent(Homephone) + '&';
    url += 'Mobilephone=' + encodeURIComponent(Mobilephone) + '&';
    url += 'Facsimile=' + encodeURIComponent(Facsimile) + '&';
    url += 'Position=' + encodeURIComponent(Position) + '&';
    url += 'Department=' + encodeURIComponent(Department) + '&';
    url += 'School=' + encodeURIComponent(School) + '&';
    url += 'Room=' + encodeURIComponent(Room) + '&';
    url += 'Staffprofile=' + encodeURIComponent(Staffprofile) + '&';
    url += 'UniversityprofileURL=' + encodeURIComponent(UniversityprofileURL) + '&';
    url += 'AcademicresearchURL=' + encodeURIComponent(AcademicresearchURL) + '&';
    url += 'Publicationsandconferences=' + encodeURIComponent(Publicationsandconferences) + '&';
    url += 'Course=' + encodeURIComponent(Course) + '&';
    url += 'Subjects=' + encodeURIComponent(Subjects) + '&';
    url += 'books=' + encodeURIComponent(books) + '&';
    url += 'shows=' + encodeURIComponent(shows) + '&';
    url += 'movies=' + encodeURIComponent(movies) + '&';
    url += 'quotes=' + encodeURIComponent(quotes);

    var xhr = new XMLHttpRequest();
    xhr.open('GET', url, true);
    xhr.onload = function() {
        if (xhr.status === 200) {
            alert('Profile updated successfully!');
        } else {
            alert('Failed to update profile. Please try again.');
        }
    };
    xhr.send();
}

document.getElementById('MKSOLeditsave').addEventListener('click', function() {
    handleSubmit('updateForm1');
});
document.getElementById('MKSOLeditpronunciationsave').addEventListener('click', function() {
    handleSubmit('updateForm2');
});

document.getElementById('MKSOLeditcontactsave').addEventListener('click', function() {
    handleSubmit('updateForm3');
});
document.getElementById('MKSOLeditstaffsave').addEventListener('click', function() {
    handleSubmit('updateForm4');
});
document.getElementById('MKSOLeditstudentsave').addEventListener('click', function() {
    handleSubmit('updateForm5');
});
document.getElementById('MKSOLeditpersonalsave').addEventListener('click', function() {
    handleSubmit('updateForm6');
});

</script>