<div class="m-5">
	<h5>
		<i class="bi bi-image"></i> My pictures
	</h5>
	<hr class="text-white" />
	<img alt="" src="">

</div>

<div class="m-5">
	<h5>
		<i class="bi bi-plus-square-fill"></i> Add picture
	</h5>
	<hr class="text-white" />
	<div class="form-group p-3 rounded MKSOuploadform">
		<label for="exampleInputEmail1">Add new picture files to the
			gallery </label> <input type="file" class="form-control" id="customFile" />

		<p>Files (maximum 10):</p>
		<button type="button" class="btn m-0 p-0 d-inline" data-toggle="tooltip"
			data-placement="right"
			title="Upload gallery images from your computer. The combined size of the images to upload should not exceed 20MB.">
			<i class="bi bi-info-circle-fill MKSOuploadform MKSOLPreferencesinfo"></i>
		</button>


		<div class="d-grid gap-2 d-md-flex justify-content-md-end">
			<button type="button"
				class="btn MKSOuploadform  border">Upload
				chosen files</button>
		</div>
	</div>
</div>

</div>