<div class="container-fluid mt-2">
	<div class="row d-flex justify-content-start">
		<div class="col-3">
			<img alt="avatar" src="resources/assets/img/profile/avatar.jpg"
				id="MKSOLavatarprofile">
			<button class="btn btn-secondary d-block btn-sm"
				id="MKSOLchangpictureprofile">
				<i class="bi bi-pencil"></i> Change picture
			</button>
		</div>
		<div class="col-7">
			<h3 class="">Email</h3>
			<div class="form-group MKSOuploadform p-3 rounded">
				<label for="exampleInputEmail1">Status</label> <input type="email"
					class="form-control mt-2 mb-2" id="exampleInputEmail1"
					aria-describedby="emailHelp" placeholder="Say Something">
				<button type="submit" class="btn btn-primary btn-sm">Say it</button>

			</div>
			<a href="/myo-web/MyProfile"
				class="text-white link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover">Profile</a>

			<hr class="hr" />
			<h6>Basic Information</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplayinfoform">
				<p class="d-inline">You haven't filled out any information yet</p>
				<button type="button"
					class="btn btn-secondary d-inline MKSOLbtnedit"
					id="MKSOLeditbutton" onclick="MKSOLeditbuttoninvisible()">
					<i class="bi bi-pencil"></i>Edit
				</button>
			</div>
			<div id="MKSOLeditform" class="invisible">
				<div class="container">
					<div class="row">
						<div class="col-3">
							<p class="fw-bold">Nickname</p>
							<p class="fw-bold">Birthday</p>
							<p class="fw-bold">Personal summary</p>
						</div>
						<div class="col-8">
							<input type="text" class="form-control MKSOLedittext"
								id="MKSOLNickname" aria-describedby="MKSOLNickname"> <input
								type="text" class="form-control  MKSOLedittext"
								id="MKSOLBirthday" aria-describedby="MKSOLBirthday"> <input
								type="text" class="form-control  MKSOLedittext"
								id="MKSOLPersonalsummary"
								aria-describedby="MKSOLPersonalsummary">
						</div>
					</div>
					<button type="button"
						class="btn btn-secondary d-inline MKSOLbtneditform"
						id="MKSOLeditsave" onclick="MKSOLeditsavevisible()">Save
						changes</button>
					<button type="button"
						class="btn btn-secondary d-inline MKSOLbtneditform"
						id="MKSOLeditcancel" onclick="MKSOLeditcancelvisible()">Cancel</button>

				</div>
			</div>

			</br> </br> </br>
			<h6>Name Pronunciation and Pronouns</h6>
			<hr class="hr text-primary m-0" />
			<p class="d-inline">You haven't filled out any information yet</p>
			<button type="button" class="btn btn-secondary d-inline MKSOLbtnedit">
				<i class="bi bi-pencil"></i>Edit
			</button>
			</br> </br> </br>
			<h6>Contact Information</h6>
			<hr class="hr text-primary m-0" />
			<p class="d-inline">You haven't filled out any information yet</p>
			<button type="button" class="btn btn-secondary d-inline MKSOLbtnedit">
				<i class="bi bi-pencil"></i>Edit
			</button>
			</br> </br> </br>
			<h6>Staff Information</h6>
			<hr class="hr text-primary m-0" />
			<p class="d-inline">You haven't filled out any information yet</p>
			<button type="button" class="btn btn-secondary d-inline MKSOLbtnedit">
				<i class="bi bi-pencil"></i>Edit
			</button>
			</br> </br> </br>
			<h6>Social Networking</h6>
			<hr class="hr text-primary m-0" />
			<p class="d-inline">You haven't filled out any information yet</p>
			<button type="button" class="btn btn-secondary d-inline MKSOLbtnedit">
				<i class="bi bi-pencil"></i>Edit
			</button>
			</br> </br> </br>
			<h6>Personal Information</h6>
			<hr class="hr text-primary m-0" />
			<p class="d-inline">You haven't filled out any information yet</p>
			<button type="button" class="btn btn-secondary d-inline MKSOLbtnedit">
				<i class="bi bi-pencil"></i>Edit
			</button>
			</br> </br> </br>




		</div>
	</div>
</div>