<h5 class="m-5 mb-2">
	<i class="bi-gear-fill me-2"></i>Preferences
	<hr class="text-white"></hr>

</h5>

<div class="ms-5">
	<h6>Email notifications</h6>
	<p class="">Email me when someone:</p>
	<table class="table table-hover table-dark table-striped">
		<thead>
			<tr>
				<th scope="col"></th>
				<th scope="col">On</th>
				<th scope="col">Off</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Adds me as a connection</th>

				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option1" checked></td>
				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option2"></td>
			</tr>
			<tr>
				<th scope="row">Confirms my connection request</th>
				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option1" checked>
				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option2"></td>
			</tr>
			<tr>
				<th scope="row">Sends me a new message</th>
				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option1" checked></td>
				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option2"></td>
			</tr>
			<tr>
				<th scope="row">Replies to one of my messages</th>
				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option1" checked></td>
				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option2"></td>
			</tr>
			<tr>
				<th scope="row">Adds me to a new worksite</th>
				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option1" checked></td>
				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option2"></td>
			</tr>
		</tbody>
	</table>
	</br>
	<h5>Twitter integration</h5>
	<p class="fst-italic">Your status updates can also update your
		Twitter account</p>
	<h6>
		<i class="bi bi-twitter-x me-2"></i><a href="#"
			class="text-white me-5">Link Twitter account</a> <input
			class="bg-body w-10"></input>
		<button type="button" class="btn text-white MKSOuploadform">Link</button>
	</h6>
	</br>
	<h5>Profile image settings</h5>
	<p class="fst-italic">Configure settings related to your profile
		image</p>

	<div class="form-check">
		<input class="form-check-input" type="checkbox" value=""
			id="flexChecksettings"> <label class="form-check-label"
			for="flexChecksettings"> Use my gravatar as my profile image
		</label>
	</div>
	</br>
	<h5>Widget settings</h5>
	<p class="fst-italic">Control which widgets appear on your profile
	</p>
	<table class="table table-hover table-dark table-striped">
		<tbody>
			<tr>
				<th scope="row">Show my kudos rating</th>

				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option1" checked></td>
				<td><i class="bi bi-info-circle-fill"></i></td>
			</tr>
			<tr>
				<th scope="row">Show my pictures</th>
				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option1" checked>
				<td><i class="bi bi-info-circle-fill"></i></td>

			</tr>
			<tr>
				<th scope="row">Show my online status</th>
				<td><input class="form-check-input" type="radio"
					name="exampleRadios" value="option1" checked></td>
				<td><i class="bi bi-info-circle-fill"></i></td>

			</tr>
		</tbody>
	</table>
	</br>
	<button type="button" class="btn text-white MKSOuploadform">Save
		settings</button>

</div>