<div class="container-fluid mt-2" th:if="${user}">
	<div class="row d-flex justify-content-start">
		<div class="col-3">
			<img alt="avatar" src="resources/assets/img/profile/avatar.jpg"
				id="MKSOLavatarprofile">
			<button class="btn btn-secondary d-block btn-sm"
				id="MKSOLchangpictureprofile">
				<i class="bi bi-pencil"></i> Change picture
			</button>
		</div>
		<div class="col-7">
			<h3 class="" th:text="'' + ${user.getLast_modified_by()}"></h3>
			<div class="form-group MKSOuploadform p-3 rounded">
				<label for="exampleInputEmail1">Status</label> <input type="email"
					class="form-control mt-2 mb-2" id="exampleInputEmail1"
					aria-describedby="emailHelp" placeholder="Say Something">
				<button type="submit" class="btn btn-primary btn-sm">Say it</button>

			</div>
			<a href="/myo-web/MyProfile"
				class="text-white link-offset-2 link-offset-3-hover link-underline-light link-underline-opacity-0 link-underline-opacity-75-hover">Profile</a>

			<hr class="hr" />
			<h6>Basic Information</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplayinfoform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getNickname() == null && user.getDateofbirth() == null && user.getDescription() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getNickname() != null}">
								Nickname: <span class="fw-normal"
									th:text="${user.getNickname()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getDateofbirth() != null}">
								Birthday: <span class="fw-normal"
									th:text="${user.getDateofbirth()}"></span>
							</p>
							<p class="fw-bold d-inline"
								th:if="${user.getDescription() != null}">
								Personal summary: <span class="fw-normal"
									th:text="${user.getDescription()}"></span>
							</p>
						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton" onclick="MKSOLeditbuttoninvisible()">
								<i class="bi bi-pencil"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm">

				<div id="MKSOLeditform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Nickname</p>
								<!-- 								<p class="fw-bold">Birthday</p>
 -->
								<p class="fw-bold">Personal summary</p>
							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLNickname" aria-describedby="MKSOLNickname"
									name="nickname">

								<!-- 			<input type="text"
									class="form-control  MKSOLedittext" id="MKSOLBirthday"
									aria-describedby="MKSOLBirthday" name="dateOfBirth"> -->

								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLPersonalsummary"
									aria-describedby="MKSOLPersonalsummary" name="description">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br>

			<h6>Name Pronunciation and Pronouns</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplaypronunciationform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getPronouns() == null && user.getPhonetic_pronunciation() == null && user.getCommon_name() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getPronouns() != null}">
								Pronouns: <span class="fw-normal"
									th:text="${user.getPronouns()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getPhonetic_pronunciation() != null}">
								Phonetic Pronunciation: <span class="fw-normal"
									th:text="${user.getPhonetic_pronunciation()}"></span>
							</p>
					
							<p class="fw-bold d-inline"
								th:if="${user.getCommon_name() != null}">
								Name Recording: <span class="fw-normal"
									th:text="${user.getCommon_name()}"></span>
							</p>
						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton"
								onclick="MKSOLeditpronunciationbuttoninvisible()">
								<i class="bi bi-pencil"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm">

				<div id="MKSOLeditpronunciationform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Pronouns:</p>
								<p class="fw-bold">Birthday:</p>
								<p>Examples:</p>
								<p class="fw-bold">Name Recording:</p>

							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLPronouns" aria-describedby="MKSOLPronouns"
									name="Pronouns"> <input type="text"
									class="form-control  MKSOLedittext"
									id="MKSOLPhoneticPronunciation	"
									aria-describedby="MKSOLPhoneticPronunciation"
									name="PhoneticPronunciation">
								<p>kris-TEEN BEAR-it (Christine Berret) uh-JEET CHOW-lah
									(Ajeet Chawla)</p>

								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLCommonName" aria-describedby="MKSOLCommonName"
									name="CommonName">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel"
							onclick="MKSOLeditpronunciationcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br>
			<h6>Contact Information</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplaycontactform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getMail() == null && user.getHome_postal_address() == null && user.getTelephone_number() == null && user.getHome_phone() == null && user.getFax_number() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getMail() != null}">
								Email: <span class="fw-normal" th:text="${user.getMail()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getHome_postal_address() != null}">
								Home page: <span class="fw-normal"
									th:text="${user.getHome_postal_address()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getTelephone_number() != null}">
								Work phone: <span class="fw-normal"
									th:text="${user.getTelephone_number()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getHome_phone() != null}">
								Mobile phone: <span class="fw-normal"
									th:text="${user.getHome_phone()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getFax_number() != null}">
								Facsimile: <span class="fw-normal"
									th:text="${user.getFax_number()}"></span>
							</p>
						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton" onclick="MKSOLeditcontactbuttoninvisible()">
								<i class="bi bi-pencil"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm">

				<div id="MKSOLeditcontactform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Email</p>
								<p class="fw-bold">Home page</p>
								<p class="fw-bold">Work phone</p>
								<p class="fw-bold">Home phone</p>
								<p class="fw-bold">Mobile phone</p>
								<p class="fw-bold">Facsimile</p>

							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLEmail" aria-describedby="MKSOLEmail" name="Email">

								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLHomepage" aria-describedby="MKSOLHomepage"
									name="Homepage"> <input type="text"
									class="form-control  MKSOLedittext" id="MKSOLWorkphone"
									aria-describedby="MKSOLWorkphone" name="Workphone"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLHomephone" aria-describedby="MKSOLHomephone"
									name="Homephone"> <input type="text"
									class="form-control  MKSOLedittext" id="MKSOLMobilephone"
									aria-describedby="MKSOLMobilephone" name="Mobilephone">


								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLFacsimile" aria-describedby="MKSOLFacsimile"
									name="Facsimile">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditcontactcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>


			</br> </br> </br>
			<h6>Staff Information</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplaystaffform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getStaff_profile() == null && user.getDepartment_number() == null && user.getOrg_unit_dn() == null && user.getRoom_number() == null && user.getEmployee_type() == null && user.getUniversity_profile_url() == null && user.getAcademic_profile_url() == null && user.getPublications() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getEmployee_type() != null}">
								Position: <span class="fw-normal"
									th:text="${user.getEmployee_type()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getDepartment_number() != null}">
								Department: <span class="fw-normal"
									th:text="${user.getDepartment_number()}"></span>
							</p>
							<p class="fw-bold d-inline"
								th:if="${user.getOrg_unit_dn() != null}">
								School: <span class="fw-normal"
									th:text="${user.getOrg_unit_dn()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getRoom_number() != null}">
								Room: <span class="fw-normal" th:text="${user.getRoom_number()}"></span>
							</p>

							<p class="fw-bold"
								th:if="${user.getStaff_profile() != null}">
								Staff profile: <span class="fw-normal"
									th:text="${user.getStaff_profile()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getUniversity_profile_url() != null}">
								University profile URL: <span class="fw-normal"
									th:text="${user.getUniversity_profile_url()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getAcademic_profile_url() != null}">
								Academic/research URL: <span class="fw-normal"
									th:text="${user.getAcademic_profile_url()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getPublications() != null}">
								Publications and conferences: <span class="fw-normal"
									th:text="${user.getPublications()}"></span>
							</p>
						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton" onclick="MKSOLeditstaffbuttoninvisible()">
								<i class="bi bi-pencil"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm">

				<div id="MKSOLeditstaffform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Position:</p>
								<p class="fw-bold">Department:</p>
								<p class="fw-bold">School:</p>
								<p class="fw-bold">Room:</p>
								<p class="fw-bold">Staff profile:</p>
								<p class="fw-bold">University profile URL:</p>
								<p class="fw-bold">Academic/research URL:</p>
								<p class="fw-bold">Publications and conferences:</p>
							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLPosition" aria-describedby="MKSOLPosition"
									name="Position"> <input type="text"
									class="form-control  MKSOLedittext" id="MKSOLDepartment"
									aria-describedby="MKSOLDepartment" name="Department"> <input
									type="text" class="form-control  MKSOLedittext"
									id="MKSOLSchool" aria-describedby="MKSOLSchool" name="School">
								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLRoom" aria-describedby="MKSOLRoom" name="Room">
								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLStaffprofile" aria-describedby="MKSOLStaffprofile"
									name="Staffprofile"> <input type="text"
									class="form-control  MKSOLedittext"
									id="MKSOLUniversityprofileURL"
									aria-describedby="MKSOLUniversityprofileURL"
									name="UniversityprofileURL"> <input type="text"
									class="form-control  MKSOLedittext"
									id="MKSOLAcademicresearchURL"
									aria-describedby="MKSOLAcademicresearchURL"
									name="AcademicresearchURL"> <input type="text"
									class="form-control  MKSOLedittext"
									id="MKSOLPublicationsandconferences"
									aria-describedby="MKSOLPublicationsandconferences"
									name="Publicationsandconferences">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditstaffcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br>

			<h6>Student Information</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplaystudentform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getEducation_course() == null && user.getEducation_subjects() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getEducation_course() != null}">
								Degree/Course: <span class="fw-normal"
									th:text="${user.getEducation_course()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getEducation_subjects() != null}">
								Subjects: <span class="fw-normal"
									th:text="${user.getEducation_subjects()}"></span>
							</p>

						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton" onclick="MKSOLeditstudentbuttoninvisible()">
								<i class="bi bi-pencil"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm">

				<div id="MKSOLeditstudentform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Degree/Course</p>
								<!-- 								<p class="fw-bold">Birthday</p>
 -->
								<p class="fw-bold">Subjects</p>
							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLCourse" aria-describedby="MKSOLCourse" name="Course">

								<!-- 			<input type="text"
									class="form-control  MKSOLedittext" id="MKSOLBirthday"
									aria-describedby="MKSOLBirthday" name="dateOfBirth"> -->

								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLSubjects" aria-describedby="MKSOLSubjects"
									name="Subjects">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditstudentcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br>

			<!-- 			<h6>Social Networking</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplayinfoform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getNickname() == null && user.getDateofbirth() == null && user.getDescription() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getNickname() != null}">
								Facebook URL: <span class="fw-normal"
									th:text="${user.getNickname()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getDateofbirth() != null}">
								LinkedIn URL: <span class="fw-normal"
									th:text="${user.getDateofbirth()}"></span>
							</p>
							<p class="fw-bold d-inline"
								th:if="${user.getDescription() != null}">
								MySpace URL: <span class="fw-normal"
									th:text="${user.getDescription()}"></span>
							</p>
								<p class="fw-bold d-inline"
								th:if="${user.getDescription() != null}">
								Instagram URL: <span class="fw-normal"
									th:text="${user.getDescription()}"></span>
							</p>
								<p class="fw-bold d-inline"
								th:if="${user.getDescription() != null}">
								Skype username: <span class="fw-normal"
									th:text="${user.getDescription()}"></span>
							</p>
								<p class="fw-bold d-inline"
								th:if="${user.getDescription() != null}">
								Twitter URL: <span class="fw-normal"
									th:text="${user.getDescription()}"></span>
							</p>
						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton" onclick="MKSOLeditbuttoninvisible()">
								<i class="bi bi-pencil"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm">

				<div id="MKSOLeditform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Nickname</p>
																<p class="fw-bold">Birthday</p>

								<p class="fw-bold">Personal summary</p>
							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLNickname" aria-describedby="MKSOLNickname"
									name="nickname">

											<input type="text"
									class="form-control  MKSOLedittext" id="MKSOLBirthday"
									aria-describedby="MKSOLBirthday" name="dateOfBirth">

								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLPersonalsummary"
									aria-describedby="MKSOLPersonalsummary" name="description">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br> -->

			<h6>Personal Information</h6>
			<hr class="hr text-primary m-0" />
			<div class="visible" id="MKSOLdisplaypersonalform">
				<div class="container">
					<div class="row">
						<div class="col-9">

							<p class="d-inline"
								th:if="${user.getFavourite_books() == null && user.getFavourite_tv_shows() == null && user.getFavourite_movies() == null && user.getFavourite_quotes() == null}">You
								haven't filled out any information yet</p>
							<p class="fw-bold" th:if="${user.getFavourite_books() != null}">
								Favorite books: <span class="fw-normal"
									th:text="${user.getFavourite_books()}"></span>
							</p>
							<p class="fw-bold"
								th:if="${user.getFavourite_tv_shows() != null}">
								Favorite TV shows: <span class="fw-normal"
									th:text="${user.getFavourite_tv_shows()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getFavourite_movies() != null}">
								Favorite movies: <span class="fw-normal"
									th:text="${user.getFavourite_movies()}"></span>
							</p>
							<p class="fw-bold" th:if="${user.getFavourite_quotes() != null}">
								Favorite quotes: <span class="fw-normal"
									th:text="${user.getFavourite_quotes()}"></span>
							</p>


						</div>
						<div class="col-3">
							<button type="button"
								class="btn btn-secondary d-inline MKSOLbtnedit"
								id="MKSOLeditbutton"
								onclick="MKSOLeditpersonalbuttoninvisible()">
								<i class="bi bi-pencil"></i>Edit
							</button>
						</div>
					</div>

				</div>
			</div>
			<form id="updateForm">

				<div id="MKSOLeditpersonalform" class="invisible">
					<div class="container">
						<div class="row">
							<div class="col-3">
								<p class="fw-bold">Favorite books</p>
								<!-- 								<p class="fw-bold">Birthday</p>
 -->
								<p class="fw-bold">Favorite TV shows</p>
								<p class="fw-bold">Favorite movies</p>
								<p class="fw-bold">Favorite quotes</p>


							</div>
							<div class="col-8">
								<input type="text" class="form-control MKSOLedittext"
									id="MKSOLbooks" aria-describedby="MKSOLbooks" name="books">

								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLshows" aria-describedby="MKSOLshows" name="shows">
								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLmovies" aria-describedby="MKSOLmovies" name="movies">


								<input type="text" class="form-control  MKSOLedittext"
									id="MKSOLquotes" aria-describedby="MKSOLquotes" name="quotes">
							</div>
						</div>
						<button type="submit"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditsave">Save changes</button>
						<button type="button"
							class="btn btn-secondary d-inline MKSOLbtneditform"
							id="MKSOLeditcancel" onclick="MKSOLeditpersonalcancelvisible()">Cancel</button>

					</div>
				</div>
			</form>

			</br> </br> </br>
		</div>
	</div>
</div>
<div th:unless="${user}">
	<p>User not found!</p>
</div>


<script>
	document.getElementById('MKSOLeditsave').addEventListener(
			'click',
			function() {
				var form = document.getElementById('updateForm');
				var formData = new FormData(form);

				var description = formData.get('description');

				var dateOfBirth = formData.get('dateOfBirth');
				var nickname = formData.get('nickname');

				var url = '/myo-web/MyProfileUpdate?' + 'description='
						+ encodeURIComponent(description) + '&nickname='
						+ encodeURIComponent(nickname);

				var xhr = new XMLHttpRequest();
				xhr.open('GET', url, true);
				xhr.onload = function() {
					if (xhr.status === 200) {
						alert('Profile updated successfully!');
					} else {
						alert('Failed to update profile. Please try again.');
					}
				};
				xhr.send();
			});
</script>