<div class="d-flex m-5 mb-0">
	<i class="bi bi-search text-white me-2"></i>
	<h5 class="">Search profiles</h5>
</div>
<hr class="text-white mt-0 ms-5" />
<div class="m-5">
	<p>Search terms</p>
	<p>Enter search terms depending on whether searching by name/email
		or by interest</p>
	<input class="w-75"></input> </br> </br>
	<h5>Person's name or email</h5>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadioname"
			id="flexRadioname"> <label class="form-check-label"
			for="flexRadioname"> Enter a name or e-mail address to find
			people </label>
	</div>
	</br>
	<h5>Common interest</h5>
	<div class="form-check">
		<input class="form-check-input" type="radio" name="flexRadiointerest"
			id="flexRadiointerest"> <label class="form-check-label"
			for="flexRadiointerest"> Enter an interest, eg 'cycling' to
			find people with similar interests </label>
	</div>
	</br>
	<h5>Include connections in search results</h5>

	<div class="form-check">
		<input class="form-check-input" type="checkbox" value=""
			id="defaultCheck1"> <label class="form-check-label"
			for="defaultCheck1"> Include connections in search results </label>
	</div>
	</br>
	<h5>Limit search to selected worksite</h5>

	<div class="form-check">
		<input class="form-check-input" type="checkbox" value=""
			id="defaultCheck1"> <label class="form-check-label"
			for="defaultCheck1"> Limit search to selected worksite </label>
	</div>
	</br>
<!-- 	<p>Limit search to selected worksite</p>
 -->	
<button type="button" class="btn MKSOuploadform text-white">Search</button>
</div>