/* root {
	--bs-blue: #0d6efd;
	--bs-indigo: #6610f2;
	--bs-purple: #6f42c1;
	--bs-pink: #d63384;
	--bs-red: #dc3545;
	--bs-orange: #fd7e14;
	--bs-yellow: #ffc107;
	--bs-green: #198754;
	--bs-teal: #20c997;
	--bs-cyan: #0dcaf0;
	--bs-black: #000;
	--bs-white: #fff;
	--bs-gray: #6c757d;
	--bs-gray-dark: #343a40;
	--bs-gray-100: #f8f9fa;
	--bs-gray-200: #e9ecef;
	--bs-gray-300: #dee2e6;
	--bs-gray-400: #ced4da;
	--bs-gray-500: #adb5bd;
	--bs-gray-600: #6c757d;
	--bs-gray-700: #495057;
	--bs-gray-800: #343a40;
	--bs-gray-900: #212529;
	--bs-primary: #003a6b;
	--bs-secondary: #6c757d;
	--bs-success: #7952b3;
	--bs-info: #0dcaf0;
	--bs-warning: #ffc107;
	--bs-danger: #dc3545;
	--bs-light: #f8f9fa;
	--bs-dark: #212529;
	--bs-primary-rgb: 0, 58, 107;
	--bs-secondary-rgb: 108, 117, 125;
	--bs-success-rgb: 121, 82, 179;
	--bs-info-rgb: 13, 202, 240;
	--bs-warning-rgb: 255, 193, 7;
	--bs-danger-rgb: 220, 53, 69;
	--bs-light-rgb: 248, 249, 250;
	--bs-dark-rgb: 33, 37, 41;
	--bs-white-rgb: 255, 255, 255;
	--bs-black-rgb: 0, 0, 0;
	--bs-body-color-rgb: 51, 51, 51;
	--bs-body-bg-rgb: 255, 255, 255;
	--bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto,
		"Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
		"Noto Color Emoji";
	--bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
		"Liberation Mono", "Courier New", monospace;
	--bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15),
		rgba(255, 255, 255, 0));
	--bs-body-font-family: var(--bs-font-sans-serif);
	--bs-body-font-size: 1rem;
	--bs-body-font-weight: 400;
	--bs-body-line-height: 1.5;
}

.portal-header {
	background-color: black;
}

.Mrphs-sakai-profile2 .navIntraTool {
	margin-top: 10px;
}

.portal-header-logo {
	
}

.portal-header-breadcrumb {
	
}

.btn-sidebar-collapse {
	
}

.responsive-sidebar-button {
	
}

.btn-logo-button {
	
}

.portal-notifications-button {
	
}

.sakai-accountProfileImage {
	
}

.sui-picture-changer {
	
}

.tab-pane {
	
}

.favorites-desktop {
	
}

.favorites-mobile {
	
}

.bi-house-fill {
	
}

.si {
	
}

.site-list-item {
	
}

.site-link-block {
	
}

.favorites-select-all-none {
	
}

.fav-title {
	
}

.fav-sites-term {
	
}

.fav-sites-card {
	
}

.other-sites-category-list {
	
}

.is-hidden {
	
}

.fav-sites-entry {
	
}

.favorite-site-list {
	
}

.fav-title-myworkspace {
	
}

.no-pinned-to-show {
	
}

.selected-page {
	
}

.sites-section {
	
}

.nav-item {
	
}

.site-page-list {
	
}

.bi-chevron-right {
	
}

.bi-question-circle {
	
}

.bi-list {
	
}

.bi-bell {
	
}

.si-pin {
	
}

.si-pin-fill {
	
}

.si-sakai-motd {
	
}

.si-sakai-profile2 {
	
}

.si-sakai-membership {
	
}

.si-sakai-schedule {
	
}

.si-sakai-resources {
	
}

.si-sakai-announcements {
	
}

.si-sakai-sitesetup {
	
}

.si-sakai-preferences {
	
}

.si-sakai-singleuser {
	
}

.Mrphs {
	
}

.skip {
	
}

.breadcrumb-item {
	
}

.sakai-pageNav {
	
}

.sakai-container {
	
}

.tool-button-container {
	
}

.Mrphs-toolTitleNav__button_container {
	
}

.Mrphs-breadcrumb--toolNameText {
	
}

.Mrphs-sakai-lessonbuildertool {
	
}

.navIntraTool {
	
}

.actionToolbar {
	
}

.portletBody {
	
}

.container {
	
}

.pt-2 {
	
}

.row {
	
}

.col-md-3 {
	
}

.d-flex {
	
}

.flex-column {
	
}

.align-items-center {
	
}

.side-widget {
	
}

.edit-image-button {
	
}

.ms-auto {
	
}

.me-auto {
	
}

.mb-1 {
	
}

.mainSection {
	
}

.mainSectionHeading {
	
}

.mainSectionContent {
	
}

.editable {
	
}

.edit-button {
	
}

.panel-content {
	
}

.panel-profile-message {
	
}

.profile_instruction {
	
}

.profileContent {
	
}

.tab-row {
	
}

.tab0 {
	
}

.last {
	
}

.tab-panel {
	
}

.text-counter {
	
}

.portal-footer {
	
}

.p-2 {
	
}

.flex-xxl-row {
	
}

.justify-content-between {
	
}

.mt-auto {
	
}

.border-top {
	
}

.nav-link {
	
}

.bi {
	
}

.btn {
	
}

.Mrphs-footer--server-time {
	
}

.Mrphs-tutorial {
	
}

.Mrphs-modal {
	
}

.portal-mobilebar {
	
}

.bg-dark {
	
}

.sak-sysInd-help {
	
}

.text-white {
	
}

.responsive-help-icon {
	
}

.sui-notifications {
	
}

.offcanvas {
	
}

.offcanvas-end {
	
}

.offcanvas-header {
	
}

.offcanvas-title {
	
}

.btn-close {
	
}

.offcanvas-body {
	
}

.flex-grow-1 {
	
}

.overflow-auto {
	
}

.accordion {
	
}

.accordion-item {
	
}

.accordion-header {
	
}

.collapsed {
	
}

.accordion-collapse {
	
}

.sakai-profile-image-change {
	
}

.sakai-dark-theme-switcher {
	
}

.sakai-theme-switch {
	
}

.switch {
	
}

.only-icon {
	
}

.modal {
	
}

.modal-dialog {
	
}

.modal-content {
	
}

.modal-header {
	
}

.modal-body {
	
}

.modal-footer {
	
}

.text-reset {
	
}

.text-muted {
	
}

.btn-group {
	
}

.p-1 {
	
}

.rounded {
	
}

.visually-hidden {
	
}

.list-group {
	
}

.list-group-item { .svg-inline--fa { display:inline-block;
	font-size: inherit;
	height: 1em;
	overflow: visible;
	vertical-align: -0.125em;
}

.svg-inline--fa.fa-lg {
	vertical-align: -0.225em;
}

.svg-inline--fa.fa-w-1 {
	width: 0.0625em;
}

.svg-inline--fa.fa-w-2 {
	width: 0.125em;
}

.svg-inline--fa.fa-w-3 {
	width: 0.1875em;
}

.svg-inline--fa.fa-w-4 {
	width: 0.25em;
}

.svg-inline--fa.fa-w-5 {
	width: 0.3125em;
}

.svg-inline--fa.fa-w-6 {
	width: 0.375em;
}

.svg-inline--fa.fa-w-7 {
	width: 0.4375em;
}

.svg-inline--fa.fa-w-8 {
	width: 0.5em;
}

.svg-inline--fa.fa-w-9 {
	width: 0.5625em;
}

.svg-inline--fa.fa-w-10 {
	width: 0.625em;
}

.svg-inline--fa.fa-w-11 {
	width: 0.6875em;
}

.svg-inline--fa.fa-w-12 {
	width: 0.75em;
}

.svg-inline--fa.fa-w-13 {
	width: 0.8125em;
}

.svg-inline--fa.fa-w-14 {
	width: 0.875em;
}

.svg-inline--fa.fa-w-15 {
	width: 0.9375em;
}

.svg-inline--fa.fa-w-16 {
	width: 1em;
}

.svg-inline--fa.fa-w-17 {
	width: 1.0625em;
}

.svg-inline--fa.fa-w-18 {
	width: 1.125em;
}

.svg-inline--fa.fa-w-19 {
	width: 1.1875em;
}

.svg-inline--fa.fa-w-20 {
	width: 1.25em;
}

.svg-inline--fa.fa-pull-left {
	margin-right: 0.3em;
	width: auto;
}

.svg-inline--fa.fa-pull-right {
	margin-left: 0.3em;
	width: auto;
}

.svg-inline--fa.fa-border {
	height: 1.5em;
}

.svg-inline--fa.fa-li {
	width: 2em;
}

.svg-inline--fa.fa-fw {
	width: 1.25em;
}

.fa-layers svg.svg-inline--fa {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

.fa-layers {
	display: inline-block;
	height: 1em;
	position: relative;
	text-align: center;
	vertical-align: -0.125em;
	width: 1em;
}

.fa-layers svg.svg-inline--fa {
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.fa-layers-counter, .fa-layers-text {
	display: inline-block;
	position: absolute;
	text-align: center;
}

.fa-layers-text {
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}

.fa-layers-counter {
	background-color: #ff253a;
	border-radius: 1em;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	height: 1.5em;
	line-height: 1;
	max-width: 5em;
	min-width: 1.5em;
	overflow: hidden;
	padding: 0.25em;
	right: 0;
	text-overflow: ellipsis;
	top: 0;
	-webkit-transform: scale(0.25);
	transform: scale(0.25);
	-webkit-transform-origin: top right;
	transform-origin: top right;
}

.fa-layers-bottom-right {
	bottom: 0;
	right: 0;
	top: auto;
	-webkit-transform: scale(0.25);
	transform: scale(0.25);
	-webkit-transform-origin: bottom right;
	transform-origin: bottom right;
}

.fa-layers-bottom-left {
	bottom: 0;
	left: 0;
	right: auto;
	top: auto;
	-webkit-transform: scale(0.25);
	transform: scale(0.25);
	-webkit-transform-origin: bottom left;
	transform-origin: bottom left;
}

.fa-layers-top-right {
	right: 0;
	top: 0;
	-webkit-transform: scale(0.25);
	transform: scale(0.25);
	-webkit-transform-origin: top right;
	transform-origin: top right;
}

.fa-layers-top-left {
	left: 0;
	right: auto;
	top: 0;
	-webkit-transform: scale(0.25);
	transform: scale(0.25);
	-webkit-transform-origin: top left;
	transform-origin: top left;
}

.fa-lg {
	font-size: 1.3333333333em;
	line-height: 0.75em;
	vertical-align: -0.0667em;
}

.fa-xs {
	font-size: 0.75em;
}

.fa-sm {
	font-size: 0.875em;
}

.fa-1x {
	font-size: 1em;
}

.fa-2x {
	font-size: 2em;
}

.fa-3x {
	font-size: 3em;
}

.fa-4x {
	font-size: 4em;
}

.fa-5x {
	font-size: 5em;
}

.fa-6x {
	font-size: 6em;
}

.fa-7x {
	font-size: 7em;
}

.fa-8x {
	font-size: 8em;
}

.fa-9x {
	font-size: 9em;
}

.fa-10x {
	font-size: 10em;
}

.fa-fw {
	text-align: center;
	width: 1.25em;
}

.fa-ul {
	list-style-type: none;
	margin-left: 2.5em;
	padding-left: 0;
}

.fa-ul>li {
	position: relative;
}

.fa-li {
	left: -2em;
	position: absolute;
	text-align: center;
	width: 2em;
	line-height: inherit;
}

.fa-border {
	border: solid 0.08em #eee;
	border-radius: 0.1em;
	padding: 0.2em 0.25em 0.15em;
}

.fa-pull-left {
	float: left;
}

.fa-pull-right {
	float: right;
}

.fa.fa-pull-left, .fas.fa-pull-left, .far.fa-pull-left, .fal.fa-pull-left,
	.fab.fa-pull-left {
	margin-right: 0.3em;
}

.fa.fa-pull-right, .fas.fa-pull-right, .far.fa-pull-right, .fal.fa-pull-right,
	.fab.fa-pull-right {
	margin-left: 0.3em;
}

.fa-spin {
	-webkit-animation: fa-spin 2s infinite linear;
	animation: fa-spin 2s infinite linear;
}

.fa-pulse {
	-webkit-animation: fa-spin 1s infinite steps(8);
	animation: fa-spin 1s infinite steps(8);
}

.fa-rotate-90 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.fa-rotate-180 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.fa-rotate-270 {
	-ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.fa-flip-horizontal {
	-ms-filter:
		"progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
	-webkit-transform: scale(-1, 1);
	transform: scale(-1, 1);
}

.fa-flip-vertical {
	-ms-filter:
		"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
	-webkit-transform: scale(1, -1);
	transform: scale(1, -1);
}

.fa-flip-both, .fa-flip-horizontal.fa-flip-vertical {
	-ms-filter:
		"progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
	-webkit-transform: scale(-1, -1);
	transform: scale(-1, -1);
}

:root .fa-rotate-90, :root .fa-rotate-180, :root .fa-rotate-270, :root .fa-flip-horizontal,
	:root .fa-flip-vertical, :root .fa-flip-both {
	-webkit-filter: none;
	filter: none;
}

.fa-stack {
	display: inline-block;
	height: 2em;
	position: relative;
	width: 2.5em;
}

.fa-stack-1x, .fa-stack-2x {
	bottom: 0;
	left: 0;
	margin: auto;
	position: absolute;
	right: 0;
	top: 0;
}

.svg-inline--fa.fa-stack-1x {
	height: 1em;
	width: 1.25em;
}

.svg-inline--fa.fa-stack-2x {
	height: 2em;
	width: 2.5em;
}

.fa-inverse {
	color: #fff;
}

.sr-only {
	border: 0;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

.sr-only-focusable:active, .sr-only-focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

.svg-inline--fa .fa-primary {
	fill: var(--fa-primary-color, currentColor);
	opacity: 1;
	opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa .fa-secondary {
	fill: var(--fa-secondary-color, currentColor);
	opacity: 0.4;
	opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-primary {
	opacity: 0.4;
	opacity: var(--fa-secondary-opacity, 0.4);
}

.svg-inline--fa.fa-swap-opacity .fa-secondary {
	opacity: 1;
	opacity: var(--fa-primary-opacity, 1);
}

.svg-inline--fa mask .fa-primary, .svg-inline--fa mask .fa-secondary {
	fill: black;
}

.fad.fa-inverse {
	color: #fff;
}
} */

.Mrphs-sakai-profile2 .navIntraTool {
    margin-top: 10px;
}
.Mrphs-sakai-profile2 .navIntraTool {
    margin: -2px -14px 0 0;
}
.navIntraTool {
    margin: 0;
    border-bottom: 1px solid var(--tool-border-color);
    padding: 0 1em 0 0;
    font-size: 0;
}
ul, #selectQuickLink, ol {
    padding: 0 0 0 1.5em;
}
ol, ul, #selectQuickLink, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}
ol, ul, #selectQuickLink {
    padding-left: 2rem;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.container, .container-fluid, .container-xxl, .container-xl, .container-lg, .container-md, .container-sm {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x)* 0.5);
    padding-left: calc(var(--bs-gutter-x)* 0.5);
    margin-right: auto;
    margin-left: auto;
}
body {
    color: var(--sakai-text-color-1);
    background-color: var(--sakai-background-color-1);
    font-family: "Open Sans", sans-serif;
    font-size: 14px !important;
    font-weight: 400;
    line-height: 1.42857;
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
:root.sakaiUserTheme-dark {
    --sakai-greyblue--lighter-7: #f3f4f5;
    --sakai-greyblue--lighter-6: #e2e5e8;
    --sakai-greyblue--lighter-5: #d1d6db;
    --sakai-greyblue--lighter-4: #c1c7cf;
    --sakai-greyblue--lighter-3: #b0b8c2;
    --sakai-greyblue--lighter-2: #a0a9b5;
    --sakai-greyblue--lighter-1: #8f9aa8;
    --sakai-greyblue: #84909f;
    --sakai-greyblue--darker-1: #788391;
    --sakai-greyblue--darker-2: #66707b;
    --sakai-greyblue--darker-3: #545c66;
    --sakai-greyblue--darker-4: #434950;
    --sakai-greyblue--darker-5: #31353b;
    --sakai-greyblue--darker-6: #1f2225;
    --sakai-greyblue--darker-7: #0d0e10;
    --logo-opacity: .7;
    --sakai-primary-color-1: var(--sakai-brand);
    --sakai-primary-color-2: var(--sakai-brand--lighter-1);
    --sakai-primary-color-3: var(--sakai-brand--lighter-2);
    --sakai-active-color-1: var(--sakai-brand--darker-1);
    --sakai-active-color-2: var(--sakai-brand);
    --sakai-active-color-3: var(--sakai-brand--lighter-1);
    --sakai-passive-color-1: var(--sakai-greyblue--darker-5);
    --sakai-passive-color-2: var(--sakai-greyblue--darker-4);
    --sakai-passive-color-3: var(--sakai-greyblue--darker-3);
    --sakai-background-color-1: var(--sakai-greyblue--darker-6);
    --sakai-background-color-2: var(--sakai-greyblue--darker-5);
    --sakai-background-color-3: var(--sakai-greyblue--darker-4);
    --sakai-background-color-4: var(--sakai-greyblue--darker-3);
    --sakai-background-color-5: var(--sakai-greyblue--darker-2);
    --sakai-background-color-6: var(--sakai-greyblue--darker-1);
    --sakai-background-color-7: var(--sakai-greyblue);
    --sakai-secondary-color-1: var(--sakai-color-blue--lighter-2);
    --sakai-tertiary-color-1: var(--sakai-color-orange--lighter-2);
    --sakai-border-color: var(--sakai-greyblue--darker-4);
    --sakai-text-color-1: var(--sakai-color-gray--lighter-5);
    --sakai-text-color-2: var(--sakai-color-gray--lighter-6);
    --sakai-text-color-3: var(--sakai-brand--lighter-6);
    --sakai-text-color-dimmed: var(--sakai-color-gray--lighter-4);
    --sakai-text-color-disabled: var(--sakai-color-gray--lighter-2);
    --sakai-text-color-inverted: var(--sakai-color-gray--lighter-6);
    --sakai-image-invert: grayscale(100%) invert(100%);
    --breadcrumbs-tool-color: var(--sakai-text-color-color-3);
    --breadcrumbs-hover-color: var(--sakai-primary-color-3);
    --link-color: var(--sakai-text-color-3);
    --link-active-color: var(--sakai-text-color-2);
    --link-hover-color: var(--sakai-text-color-2);
    --link-visited-color: var(--sakai-color-purple--lighter-2);
    --radio-button-background: var(--sakai-text-color-1);
    --checkbox-background: var(--sakai-primary-color-1);
    --infoBanner-bordercolor: var(--sakai-color-blue--darker-4);
    --infoBanner-bgcolor: var(--sakai-color-blue--darker-6);
    --infoBanner-color: var(--sakai-color-blue--lighter-4);
    --successBanner-bordercolor: var(--sakai-color-green--darker-4);
    --successBanner-bgcolor: var(--sakai-color-green--darker-6);
    --successBanner-color: var(--sakai-color-green--lighter-4);
    --warnBanner-bordercolor: var(--sakai-color-gold--darker-4);
    --warnBanner-bgcolor: var(--sakai-color-gold--darker-6);
    --warnBanner-color: var(--sakai-color-gold--lighter-4);
    --errorBanner-bordercolor: var(--sakai-color-red--darker-4);
    --errorBanner-bgcolor: var(--sakai-color-red--darker-6);
    --errorBanner-color: var(--sakai-color-red--lighter-4);
    --timer-bar-full-bg: var(--sakai-color-green--darker-2);
    --timer-bar-medium-bg: var(--sakai-color-orange--darker-1);
    --progress-bar-bg: var(--sakai-color-blue--darker-5);
    --progress-bar-empty-bg: var(--sakai-primary-color-1);
    --footer-PoweredBy-bg: var(--sakai-color-gray--darker-1);
    --sakai-highlight-color: var(--sakai-color-red--lighter-4);
    --site-nav-btn-current-hover-color: var(--site-nav-btn-active-color);
    --site-nav-btn-hover-bg: var(--sakai-primary-color-2);
    --sakai-calendar-button-background-color: var(--sakai-background-color);
    --sakai-calendar-button-color: var(--button-text-color);
    --sakai-calendar-button-disabled-background-color: var(--button-disabled-background);
    --sakai-calendar-today-background-color: yellow;
    --sakai-calendar-today-color: black;
    --sakai-calendar-has-events-color: white;
    --sakai-calendar-has-events-background-color: green;
    --jumbotron-bg: var(--sakai-color-blue--darker-5);
    --jumbotron-color: var(--sakai-text-color-1);
    --sakai-modal-header-bg: var(--sakai-background-color-3);
    --sakai-modal-header-color: var(--sakai-text-color-1);
    --sakai-modal-close-btn-bg: var(--sakai-text-color-1);
    --sakai-offcanvas-header-bg: var(--sakai-background-color-3);
    --sakai-offcanvas-header-color: var(--sakai-text-color-1);
    --sakai-offcanvas-close-btn-bg: var(--sakai-background-color-1);
}
:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-black: #000;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #003a6b;
    --bs-secondary: #6c757d;
    --bs-success: #7952b3;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-primary-rgb: 0, 58, 107;
    --bs-secondary-rgb: 108, 117, 125;
    --bs-success-rgb: 121, 82, 179;
    --bs-info-rgb: 13, 202, 240;
    --bs-warning-rgb: 255, 193, 7;
    --bs-danger-rgb: 220, 53, 69;
    --bs-light-rgb: 248, 249, 250;
    --bs-dark-rgb: 33, 37, 41;
    --bs-white-rgb: 255, 255, 255;
    --bs-black-rgb: 0, 0, 0;
    --bs-body-color-rgb: 51, 51, 51;
    --bs-body-bg-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #333;
    --bs-body-bg: #fff;
    --bs-border-width: 1px;
    --bs-border-style: solid;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-border-radius: 0.4rem;
    --bs-border-radius-sm: 0.25rem;
    --bs-border-radius-lg: 0.5rem;
    --bs-border-radius-xl: 1rem;
    --bs-border-radius-2xl: 2rem;
    --bs-border-radius-pill: 50rem;
    --bs-link-color: #003a6b;
    --bs-link-hover-color: #002e56;
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
}
:root {
    --sakai-brand--lighter-7: #e7edf1;
    --sakai-brand--lighter-6: #c7d5dd;
    --sakai-brand--lighter-5: #a6bcca;
    --sakai-brand--lighter-4: #86a4b7;
    --sakai-brand--lighter-3: #658ca3;
    --sakai-brand--lighter-2: #457490;
    --sakai-brand--lighter-1: #255b7d;
    --sakai-brand: #0f4b70;
    --sakai-brand--darker-1: #0e4466;
    --sakai-brand--darker-2: #0c3a57;
    --sakai-brand--darker-3: #0a3048;
    --sakai-brand--darker-4: #082639;
    --sakai-brand--darker-5: #061c29;
    --sakai-brand--darker-6: #04121a;
    --sakai-brand--darker-7: #02080b;
    --logo: url(library/skin/images/sakaiLogo.png);
    --logo-height: 36px;
    --logo-width: 126px;
    --logo-opacity: 1;
    --logo-background-color: var(--sakai-primary-color-1);
    --sakai-primary-color-1: var(--sakai-brand);
    --sakai-primary-color-2: var(--sakai-brand--darker-2);
    --sakai-primary-color-3: var(--sakai-brand--darker-3);
    --sakai-active-color-1: var(--sakai-brand--lighter-6);
    --sakai-active-color-2: var(--sakai-brand--lighter-5);
    --sakai-active-color-3: var(--sakai-brand--lighter-4);
    --sakai-passive-color-1: var(--sakai-color-gray--lighter-6);
    --sakai-passive-color-2: var(--sakai-color-gray--lighter-5);
    --sakai-passive-color-3: var(--sakai-color-gray--lighter-4);
    --sakai-background-color-1: var(--sakai-color-white);
    --sakai-background-color-2: var(--sakai-color-gray--lighter-7);
    --sakai-background-color-3: var(--sakai-color-gray--lighter-6);
    --sakai-background-color-4: var(--sakai-color-gray--lighter-5);
    --sakai-background-color-5: var(--sakai-color-gray--lighter-4);
    --sakai-background-color-6: var(--sakai-color-gray--lighter-3);
    --sakai-background-color-7: var(--sakai-color-gray--lighter-2);
    --sakai-background-color-8: var(--sakai-color-gray--lighter-1);
    --sakai-background-color-9: var(--sakai-color-gray);
    --sakai-secondary-color-1: var(--sakai-color-blue--darker-2);
    --sakai-tertiary-color-1: var(--sakai-color-orange--darker-4);
    --sakai-border-color: var(--sakai-color-gray--lighter-6);
    --sakai-text-color-1: var(--sakai-color-gray--darker-5);
    --sakai-text-color-2: var(--sakai-color-gray--darker-6);
    --sakai-text-color-3: var(--sakai-brand--darker-3);
    --sakai-text-color-dimmed: var(--sakai-color-gray--darker-4);
    --sakai-text-color-disabled: var(--sakai-color-gray--darker-2);
    --sakai-text-color-inverted: var(--sakai-background-color-1);
    --elevation-0dp: none;
    --elevation-1dp: 0 2px 1px -1px rgba(0, 0, 0, .2), 0 1px 1px 0 rgba(0, 0, 0, .14), 0 1px 3px 0 rgba(0, 0, 0, .12);
    --elevation-2dp: 0 3px 1px -2px rgba(0, 0, 0, .2), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
    --elevation-3dp: 0 3px 3px -2px rgba(0, 0, 0, .2), 0 3px 4px 0 rgba(0, 0, 0, .14), 0 1px 8px 0 rgba(0, 0, 0, .12);
    --elevation-4dp: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
    --elevation-5dp: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
    --elevation-6dp: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
    --elevation-7dp: 0 4px 5px -2px rgba(0, 0, 0, .2), 0 7px 10px 1px rgba(0, 0, 0, .14), 0 2px 16px 1px rgba(0, 0, 0, .12);
    --elevation-8dp: 0 5px 5px -3px rgba(0, 0, 0, .2), 0 8px 10px 1px rgba(0, 0, 0, .14), 0 3px 14px 2px rgba(0, 0, 0, .12);
    --portal-background-color: var(--sakai-background-color-1);
    --portal-mask-background: rgba(0, 0, 0, 0.5);
    --tool-background-color: var(--sakai-background-color-1);
    --tool-menu-background-color: var(--sakai-background-color-1);
    --tool-menu-hover-background-color: var(--sakai-background-color-2);
    --tool-menu-color: var(--sakai-text-color-1);
    --tool-border-color: var(--sakai-border-color);
    --tool-tab-text-color: var(--tool-menu-color);
    --tool-tab-background-color: var(--tool-menu-background-color);
    --tool-tab-border-color: var(--sakai-border-color);
    --tool-tab-hover-text-color: var(--sakai-text-color-3);
    --tool-tab-hover-background-color: var(--sakai-background-color-3);
    --tool-tab-hover-highlight-color: var(--sakai-active-color-2);
    --tool-tab-active-text-color: var(--sakai-text-color-3);
    --tool-tab-active-background-color: var(--sakai-background-color-1);
    --tool-tab-active-highlight-color: var(--sakai-active-color-3);
    --top-header-background: var(--sakai-color-gray--darker-5);
    --top-header-profile-border-color-top: var(--sakai-secondary-color-1);
    --top-header-profile-border-color-right: var(--sakai-secondary-color-1);
    --top-header-profile-border-color-bottom: var(--sakai-tertiary-color-1);
    --top-header-profile-border-color-left: var(--sakai-tertiary-color-1);
    --top-header-profile-border-color-inner: var(--sakai-background-color-1);
    --sites-nav-background: var(--sakai-background-color-1);
    --sticky-footer-bg: var(--sakai-background-color-3);
    --breadcrumbs-color: var(--sakai-text-color-1);
    --breadcrumbs-tool-color: var(--sakai-primary-color-1);
    --breadcrumbs-hover-color: var(--sakai-primary-color-1);
    --link-color: var(--sakai-primary-color-1);
    --link-active-color: var(--sakai-primary-color-3);
    --link-hover-color: var(--sakai-primary-color-2);
    --link-visited-color: var(--sakai-color-purple);
    --link-background-color: transparent;
    --link-active-background-color: transparent;
    --link-hover-background-color: transparent;
    --button-text-color: var(--sakai-text-color-2);
    --button-background: var(--sakai-passive-color-1);
    --button-border-color: var(--sakai-passive-color-2);
    --button-shadow: none;
    --button-hover-text-color: var(--button-text-color);
    --button-hover-background: var(--sakai-passive-color-2);
    --button-hover-border-color: var(--sakai-passive-color-3);
    --button-hover-shadow: none;
    --button-active-text-color: var(--button-text-color);
    --button-active-background: var(--sakai-passive-color-3);
    --button-active-border-color: var(--button-active-background);
    --button-active-shadow-color: rgba(0, 0, 0, 0);
    --button-active-shadow: none;
    --button-disabled-text-color: var(--sakai-text-color-disabled);
    --button-disabled-background: var(--sakai-background-color-2);
    --button-disabled-border-color: var(--sakai-border-color);
    --button-disabled-shadow: none;
    --button-primary-text-color: var(--sakai-text-color-inverted);
    --button-primary-background: var(--sakai-primary-color-1);
    --button-primary-border-color: var(--button-primary-background);
    --button-primary-shadow: var(--elevation-2dp);
    --button-primary-hover-text-color: var(--button-primary-text-color);
    --button-primary-hover-background: var(--sakai-primary-color-2);
    --button-primary-hover-border-color: var(--button-primary-hover-background);
    --button-primary-hover-shadow: var(--elevation-4dp);
    --button-primary-active-text-color: var(--button-primary-text-color);
    --button-primary-active-background: var(--sakai-primary-color-3);
    --button-primary-active-border-color: var(--button-primary-active-background);
    --button-primary-active-shadow: var(--elevation-4dp);
    --radio-button-background: var(--button-primary-background);
    --checkbox-background: var(--button-primary-background);
    --instruction-color: var(--sakai-text-color-disabled);
    --infoBanner-bordercolor: var(--sakai-color-blue--lighter-2);
    --infoBanner-bgcolor: var(--sakai-color-blue--lighter-7);
    --infoBanner-color: var(--sakai-color-blue--darker-3);
    --successBanner-bordercolor: var(--sakai-color-green--lighter-2);
    --successBanner-bgcolor: var(--sakai-color-green--lighter-7);
    --successBanner-color: var(--sakai-color-green--darker-3);
    --warnBanner-bordercolor: var(--sakai-color-gold--lighter-2);
    --warnBanner-bgcolor: var(--sakai-color-gold--lighter-7);
    --warnBanner-color: var(--sakai-color-gold--darker-4);
    --errorBanner-bordercolor: var(--sakai-color-red--lighter-2);
    --errorBanner-bgcolor: var(--sakai-color-red--lighter-7);
    --errorBanner-color: var(--sakai-color-red--darker-2);
    --swapped-view-primary: var(--warnBanner-bgcolor);
    --become-user-primary: var(--sakai-color-purple--darker-1);
    --topNav-text-color: var(--sakai-text-color-inverted);
    --topNav-border-color: var(--sakai-border-color);
    --sites-nav-background: var(--sakai-background-color-1);
    --sites-nav-menu-item-background: var(--sakai-passive-color-1);
    --sites-nav-menu-item-color: var(--sakai-text-color-1);
    --sites-nav-menu-item-border-color: var(--sites-nav-menu-item-background);
    --sites-nav-menu-item-hover-background: var(--sakai-passive-color-2);
    --sites-nav-menu-item-hover-color: var(--sakai-text-color-2);
    --sites-nav-menu-item-hover-border-color: var(--sites-nav-menu-item-hover-background);
    --sites-nav-menu-item-hover-icon-background: var(--sakai-passive-color-3);
    --sites-nav-menu-item-hover-icon-border-color: var(--sites-nav-menu-item-hover-icon-background);
    --sites-nav-menu-item-active-background: var(--sakai-passive-color-3);
    --sites-nav-menu-item-active-border-color: var(--sites-nav-menu-item-active-background);
    --sites-nav-menu-item-active-icon-background: var(--sites-nav-menu-item-active-background);
    --sites-nav-menu-item-active-icon-border-color: var(--sites-nav-menu-item-active-background);
    --sites-nav-submenu-border-color: transparent;
    --sites-nav-submenu-background: var(--sites-nav-menu-item-background);
    --sites-nav-submenu-item-color: var(--sites-nav-menu-item-color);
    --sites-nav-submenu-item-divider-color: var(--sites-nav-submenu-item-color);
    --sites-nav-submenu-item-hover-background: var(--sites-nav-menu-item-hover-background);
    --sites-nav-submenu-item-hover-color: var(--sites-nav-menu-item-hover-color);
    --sites-nav-submenu-item-hover-icon-color: var(--sites-nav-menu-item-hover-color);
    --sites-nav-submenu-item-active-background: var(--sites-nav-menu-item-active-background);
    --sites-nav-menu-item-selected-background: var(--sakai-active-color-1);
    --sites-nav-menu-item-selected-color: var(--sakai-text-color-3);
    --sites-nav-menu-item-selected-border-color: var(--sites-nav-menu-item-selected-background);
    --sites-nav-menu-item-selected-hover-background: var(--sakai-active-color-2);
    --sites-nav-menu-item-selected-hover-color: var(--sakai-text-color-3);
    --sites-nav-menu-item-selected-hover-border-color: var(--sites-nav-menu-item-selected-hover-background);
    --sites-nav-menu-item-selected-hover-icon-background: var(--sakai-active-color-3);
    --sites-nav-menu-item-selected-hover-icon-border-color: var(--sites-nav-menu-item-selected-hover-icon-background);
    --sites-nav-menu-item-selected-active-background: var(--sakai-active-color-3);
    --sites-nav-menu-item-selected-active-border-color: var(--sites-nav-menu-item-selected-active-background);
    --sites-nav-menu-item-selected-active-icon-background: var(--sites-nav-menu-item-selected-active-background);
    --sites-nav-menu-item-selected-active-icon-border-color: var(--sites-nav-menu-item-selected-active-background);
    --sites-nav-submenu-selected-border-color: transparent;
    --sites-nav-submenu-selected-background: var(--sites-nav-menu-item-selected-background);
    --sites-nav-submenu-item-selected-divider-color: var(--sites-nav-menu-item-selected-color);
    --sites-nav-submenu-item-selected-hover-background: var(--sites-nav-menu-item-selected-hover-background);
    --sites-nav-submenu-item-selected-hover-color: var(--sites-nav-menu-item-selected-hover-color);
    --sites-nav-submenu-item-selected-hover-icon-color: var(--sites-nav-menu-item-selected-hover-color);
    --sites-nav-submenu-item-selected-active-background: var(--sites-nav-menu-item-selected-active-background);
    --site-nav-btn-color: var(--button-text-color);
    --site-nav-btn-bg: transparent;
    --site-nav-btn-border-color: var(--site-nav-btn-bg);
    --site-nav-btn-hover-color: var(--site-nav-btn-color);
    --site-nav-btn-hover-bg: var(--sakai-brand--lighter-6);
    --site-nav-btn-hover-border-color: var(--site-nav-btn-hover-bg);
    --site-nav-btn-focus-shadow-rgb: 249, 250, 251;
    --site-nav-btn-active-color: var(--site-nav-btn-color);
    --site-nav-btn-active-bg: var(--sakai-brand--lighter-5);
    --site-nav-btn-active-border-color: var(--site-nav-btn-border-color);
    --site-nav-btn-disabled-color: var(--site-nav-btn-color);
    --site-nav-btn-disabled-bg: var(--site-nav-btn-bg);
    --site-nav-btn-disabled-border-color: var(--site-nav-btn-border-color);
    --site-nav-btn-current-color: var(--button-text-color);
    --site-nav-btn-current-bg: transparent;
    --site-nav-btn-current-border-color: var(--site-nav-btn-current-bg);
    --site-nav-btn-current-hover-color: var(--site-nav-btn-current-color);
    --site-nav-btn-current-hover-bg: var(--sakai-brand--lighter-5);
    --site-nav-btn-current-hover-border-color: var(--site-nav-btn-current-hover-bg);
    --site-nav-btn-current-focus-shadow-rgb: 249, 250, 251;
    --site-nav-btn-current-active-color: var(--site-nav-btn-current-color);
    --site-nav-btn-current-active-bg: var(--sakai-brand--lighter-4);
    --site-nav-btn-current-active-border-color: var(--site-nav-btn-current-border-color);
    --site-nav-btn-current-disabled-color: var(--site-nav-btn-current-color);
    --site-nav-btn-current-disabled-bg: var(--site-nav-btn-current-bg);
    --site-nav-btn-current-disabled-border-color: var(--site-nav-btn-current-border-color);
    --site-nav-bg: var(--sakai-background-color-2);
    --site-nav-list-item-bg: var(--site-nav-bg);
    --site-nav-list-item-collapse-bg: var(--sakai-background-color-1);
    --site-nav-list-item-current-bg: var(--sakai-brand--lighter-5);
    --site-nav-list-item-current-collapse-bg: var(--sakai-brand--lighter-6);
    --all-sites-background-color: var(--sakai-background-color-1);
    --all-sites-drop-shadow: var(--elevation-8dp);
    --all-sites-tab-text-color: var(--tool-menu-color);
    --all-sites-tab-background-color: var(--tool-tab-background-color);
    --all-sites-tab-border-color: var(--tool-tab-border-color);
    --all-sites-tab-hover-text-color: var(--tool-tab-hover-text-color);
    --all-sites-tab-hover-background-color: var(--tool-tab-hover-background-color);
    --all-sites-tab-hover-highlight: var(--tool-tab-hover-highlight-color);
    --all-sites-tab-active-text-color: var(--tool-tab-active-text-color);
    --all-sites-tab-active-background-color: var(--tool-tab-active-background-color);
    --all-sites-tab-active-highlight-color: var(--tool-tab-active-highlight-color);
    --all-sites-title-text-color: var(--sakai-text-color-1);
    --all-sites-button-text-color: var(--sakai-text-color-1);
    --all-sites-button-background-color: var(--sakai-background-color-2);
    --all-sites-button-border-color: var(--sakai-border-color);
    --all-sites-button-star-full-color: var(--sakai-color-gold);
    --all-sites-button-star-empty-color: var(--sakai-text-color-1);
    --all-sites-button-selected-text-color: var(--sakai-text-color-3);
    --all-sites-button-selected-background-color: var(--sakai-active-color-1);
    --all-sites-button-selected-border-color: var(--all-sites-button-selected-background-color);
    --all-sites-button-selected-dropdown-color: var(--all-sites-button-selected-text-color);
    --all-sites-button-selected-star-full-color: var(--all-sites-button-star-full-color);
    --all-sites-button-selected-star-empty-color: var(--all-sites-button-star-empty-color);
    --all-sites-button-hover-text-color: var(--sakai-text-color-1);
    --all-sites-button-hover-background-color: var(--sakai-background-color-3);
    --all-sites-button-hover-border-color: var(--all-sites-button-hover-background-color);
    --all-sites-button-hover-dropdown-color: var(--all-sites-button-hover-text-color);
    --all-sites-button-hover-star-full-color: var(--all-sites-button-star-full-color);
    --all-sites-button-hover-star-empty-color: var(--all-sites-button-star-empty-color);
    --all-sites-button-drag-icon-color: var(--sakai-text-color-1);
    --all-sites-button-drag-icon-hover-color: var(--sakai-text-color-1);
    --all-sites-tool-menu-divider-color: var(--sakai-border-color);
    --all-sites-tool-menu-background-color: var(--all-sites-button-background-color);
    --all-sites-tool-menu-text-color: var(--all-sites-button-text-color);
    --all-sites-tool-menu-icon-color: var(--all-sites-button-text-color);
    --all-sites-tool-menu-left-border-color: var(--all-sites-tool-menu-background-color);
    --all-sites-tool-menu-hover-background-color: var(--all-sites-button-hover-background-color);
    --all-sites-tool-menu-hover-text-color: var(--all-sites-button-hover-text-color);
    --all-sites-tool-menu-hover-icon-color: var(--all-sites-button-hover-text-color);
    --all-sites-tool-menu-hover-left-border-color: var(--all-sites-tool-menu-hover-background-color);
    --all-sites-close-action-color: var(--button-text-color);
    --all-sites-close-action-hover-color: var(--button-hover-text-color);
    --tool-menu-item-separator-color: transparent;
    --tool-menu-item-text-color: var(--sakai-text-color-2);
    --tool-menu-item-icon-color: var(--sakai-text-color-1);
    --tool-menu-item-background-color: var(--sakai-background-color-1);
    --tool-menu-item-hover-text-color: var(--tool-menu-item-text-color);
    --tool-menu-item-hover-icon-color: var(--tool-menu-item-icon-color);
    --tool-menu-item-hover-background-color: var(--sakai-background-color-2);
    --tool-menu-item-active-text-color: var(--tool-menu-item-text-color);
    --tool-menu-item-active-icon-color: var(--tool-menu-item-icon-color);
    --tool-menu-item-active-background-color: var(--sakai-background-color-3);
    --tool-menu-item-hidden-text-color: var(--tool-menu-item-text-color);
    --tool-menu-item-hidden-icon-color: var(--tool-menu-item-icon-color);
    --tool-menu-item-hidden-background-color: var(--tool-menu-item-background-color);
    --tool-menu-item-hidden-hover-text-color: var(--tool-menu-item-hover-text-color);
    --tool-menu-item-hidden-hover-icon-color: var(--tool-menu-item-hover-icon-color);
    --tool-menu-item-hidden-hover-background-color: var(--tool-menu-item-hover-background-color);
    --tool-menu-item-hidden-active-text-color: var(--tool-menu-item-active-text-color);
    --tool-menu-item-hidden-active-icon-color: var(--tool-menu-item-active-icon-color);
    --tool-menu-item-hidden-active-background-color: var(--tool-menu-item-active-background-color);
    --tool-menu-item-selected-text-color: var(--sakai-text-color-3);
    --tool-menu-item-selected-icon-color: var(--sakai-text-color-3);
    --tool-menu-item-selected-background-color: var(--sakai-active-color-1);
    --tool-menu-item-selected-hover-text-color: var(--tool-menu-item-selected-text-color);
    --tool-menu-item-selected-hover-icon-color: var(--tool-menu-item-selected-icon-color);
    --tool-menu-item-selected-hover-background-color: var(--sakai-active-color-2);
    --tool-menu-item-selected-active-text-color: var(--tool-menu-item-selected-text-color);
    --tool-menu-item-selected-active-icon-color: var(--tool-menu-item-selected-icon-color);
    --tool-menu-item-selected-active-background-color: var(--sakai-active-color-3);
    --tool-menu-collapse-text-color: var(--tool-menu-item-text-color);
    --tool-menu-collapse-icon-color: var(--tool-menu-item-text-color);
    --tool-menu-collapse-background-color: var(--tool-menu-item-background-color);
    --tool-menu-collapse-shadow: var(--elevation-4dp);
    --tool-menu-collapse-hover-text-color: var(--tool-menu-item-hover-text-color);
    --tool-menu-collapse-hover-background-color: var(--tool-menu-item-hover-background-color);
    --tool-menu-collapse-hover-shadow: var(--elevation-6dp);
    --tool-menu-collapse-active-text-color: var(--tool-menu-item-active-text-color);
    --tool-menu-collapse-active-background-color: var(--tool-menu-item-active-background-color);
    --tool-menu-collapse-active-shadow: var(--elevation-5dp);
    --tool-menu-collapse-min-text-color: var(--tool-menu-collapse-text-color);
    --tool-menu-collapse-min-background-color: var(--tool-menu-collapse-background-color);
    --tool-menu-collapse-min-shadow: var(--tool-menu-collapse-shadow);
    --tool-menu-collapse-min-hover-text-color: var(--tool-menu-collapse-hover-text-color);
    --tool-menu-collapse-min-hover-background-color: var(--tool-menu-collapse-hover-background-color);
    --tool-menu-collapse-min-hover-shadow: var(--tool-menu-collapse-hover-shadow);
    --tool-menu-collapse-min-active-text-color: var(--tool-menu-collapse-active-text-color);
    --tool-menu-collapse-min-active-background-color: var(--tool-menu-collapse-active-background-color);
    --tool-menu-collapse-min-active-shadow: var(--tool-menu-collapse-active-shadow);
    --tool-sub-menu-border-color: var(--sakai-border-color);
    --tool-sub-menu-background-color: var(--tool-menu-item-background-color);
    --tool-sub-menu-hover-color: var(--tool-menu-item-hover-text-color);
    --tool-sub-menu-hover-background-color: var(--tool-menu-item-hover-background-color);
    --tool-sub-menu-current-color: var(--tool-menu-item-selected-text-color);
    --tool-sub-menu-current-background-color: var(--tool-menu-item-selected-background-color);
    --tool-sub-menu-current-hover-color: var(--tool-menu-item-selected-hover-text-color);
    --tool-sub-menu-current-hover-background-color: var(--tool-menu-item-selected-hover-background-color);
    --tool-lessons-toplevel-menu-selected-background-color: var(--tool-menu-item-background-color);
    --tool-lessons-toplevel-menu-expanded-background-color: var(--tool-menu-item-background-color);
    --tool-lessons-toplevel-menu-expanded-hover-background-color: var(--tool-menu-item-hover-background-color);
    --tool-lessons-toplevel-menu-expanded-selected-background-color: var(--tool-menu-item-selected-background-color);
    --tool-lessons-toplevel-menu-expanded-selected-color: var(--tool-menu-item-selected-color);
    --tool-lessons-toplevel-menu-sliding-background-color: var(--tool-menu-item-background-color);
    --tool-lessons-subpage-menu-selected-background-color: var(--tool-menu-item-selected-background-color);
    --tool-lessons-subpage-menu-selected-parent-background-color: var(--tool-menu-item-background-color);
    --tool-lessons-subpage-menu-expanded-background-color: var(--tool-menu-item-background-color);
    --lessons-item-border-top-color: var(--sites-nav-menu-item-background);
    --lessons-column-border-color: var(--sakai-border-color);
    --lessons-item-hover-background: var(--sakai-background-color-2);
    --lessons-item-hover-shadow: var(--elevation-4dp);
    --siteUnpublish-background: var(--warnBanner-bgcolor);
    --siteUnpublish-color: var(--warnBanner-color);
    --siteUnpublish-border-color: var(--warnBanner-bordercolor);
    --siteDelete-background: var(--infoBanner-bgcolor);
    --siteDelete-color: var(--infoBanner-color);
    --siteDelete-border-color: var(--infoBanner-bordercolor);
    --footer-background-color: var(--sakai-background-color-1);
    --footer-border-color: var(--tool-border-color);
    --footer-color: var(--sakai-text-color-1);
    --footer-link-separator: var(--sakai-border-color);
    --divider-shadow: var(--elevation-2dp);
    --divider-shadow-fixed: 0 1px 0 var(--tool-border-color);
    --overview-portlet-shadow: var(--elevation-2dp);
    --overview-portlet-title-background-color: var(--tool-tab-background-color);
    --focus-outline-color: var(--sakai-color-blue--lighter-3);
    --sakai-dashboard-widget-bg-color: var(--sakai-background-color-1);
    --sakai-dashboard-widget-border-color: var(--sakai-border-color);
    --sakai-title-bar-bg-color: var(--sakai-background-color-2);
    --sakai-close-icon-color: var(--errorBanner-color);
    --sakai-table-even-color: var(--sakai-background-color-2);
    --sakai-separator-color: var(--sakai-border-color);
    --sakai-calendar-button-background-color: #FFFFFF;
    --sakai-calendar-button-color: var(--button-text-color);
    --sakai-calendar-button-disabled-color: var(--button-disabled-text-color);
    --sakai-calendar-button-disabled-bg-color: var(--button-disabled-background);
    --sakai-calendar-today-bg-color: var(--sakai-primary-color-1);
    --sakai-calendar-today-fg-color: var(--sakai-text-color-inverted);
    --sakai-calendar-has-events-bg-color: var(--sakai-color-green--darker-4);
    --sakai-calendar-has-events-fg-color: var(--sakai-text-color-inverted);
    --sakai-grades-count-color: var(--sakai-text-color-dimmed);
    --jumbotron-bg: var(--sakai-color-gray--lighter-6);
    --jumbotron-color: var(--sakai-text-color-1);
    --sakai-options-menu-background-color: #D4EBF9;
    --sakai-options-menu-color: black;
    --sakai-user-status-online: var(--sakai-color-green--lighter-2);
    --sakai-popover-background: var(--sakai-background-color-1);
    --sakai-popover-title-background: var(--sakai-background-color-1);
    --sakai-highlight-color: var(--errorBanner-color);
    --timer-bar-full-bg: var(--sakai-color-green);
    --timer-bar-medium-bg: var(--sakai-color-orange);
    --timer-bar-low-bg: var(--sakai-color-red--lighter-1);
    --progress-bar-bg: var(--sakai-color-blue--lighter-6);
    --progress-bar-empty-bg: transparent;
    --sakai-modal-header-bg: #003a6b;
    --sakai-modal-header-color: #fff;
    --sakai-modal-close-btn-bg: #fff;
    --sakai-modal-content-bg: var(--sakai-background-color-2);
    --sakai-offcanvas-header-bg: #003a6b;
    --sakai-offcanvas-header-color: #fff;
    --sakai-offcanvas-close-btn-bg: #000;
    --sakai-pin-hover-color: black;
    --sakai-selected-page-bg-color: var(--sakai-color-blue--darker-4);
    --sakai-selected-page-color: white;
}
:root {
    --sakai-theme-color-interval: 9;
    --sakai-color-contrast-threshold: 60%;
    --sakai-theme-switch-ease: background-color 0.6s cubic-bezier(0.76, 0, 0.24, 1);
    --sakai-color-white: hsl(0, 0%, 100%);
    --sakai-color-black: hsl(0, 0%, 0%);
    --sakai-color-gray--lighter-7: #f3f4f4;
    --sakai-color-gray--lighter-6: #e3e4e5;
    --sakai-color-gray--lighter-5: #d3d4d6;
    --sakai-color-gray--lighter-4: #c3c5c7;
    --sakai-color-gray--lighter-3: #b3b5b8;
    --sakai-color-gray--lighter-2: #a4a6a9;
    --sakai-color-gray--lighter-1: #94969a;
    --sakai-color-gray: #898c90;
    --sakai-color-gray--darker-1: #7d7f83;
    --sakai-color-gray--darker-2: #6a6d70;
    --sakai-color-gray--darker-3: #585a5c;
    --sakai-color-gray--darker-4: #454749;
    --sakai-color-gray--darker-5: #333435;
    --sakai-color-gray--darker-6: #202122;
    --sakai-color-gray--darker-7: #0e0e0e;
    --sakai-color-blue--lighter-7: #eaf5fc;
    --sakai-color-blue--lighter-6: #cce7f8;
    --sakai-color-blue--lighter-5: #afdaf4;
    --sakai-color-blue--lighter-4: #92ccf0;
    --sakai-color-blue--lighter-3: #75beec;
    --sakai-color-blue--lighter-2: #58b1e9;
    --sakai-color-blue--lighter-1: #3ba3e5;
    --sakai-color-blue: #289ae2;
    --sakai-color-blue--darker-1: #248cce;
    --sakai-color-blue--darker-2: #1f77af;
    --sakai-color-blue--darker-3: #1a6391;
    --sakai-color-blue--darker-4: #144e72;
    --sakai-color-blue--darker-5: #0f3954;
    --sakai-color-blue--darker-6: #092435;
    --sakai-color-blue--darker-7: #040f17;
    --sakai-color-teal--lighter-7: #e6f5f5;
    --sakai-color-teal--lighter-6: #c3e7e7;
    --sakai-color-teal--lighter-5: #a1d9d9;
    --sakai-color-teal--lighter-4: #7ecbcb;
    --sakai-color-teal--lighter-3: #5cbebe;
    --sakai-color-teal--lighter-2: #39b0b0;
    --sakai-color-teal--lighter-1: #17a2a2;
    --sakai-color-teal: #009999;
    --sakai-color-teal--darker-1: darkcyan;
    --sakai-color-teal--darker-2: #007777;
    --sakai-color-teal--darker-3: #006262;
    --sakai-color-teal--darker-4: #004d4d;
    --sakai-color-teal--darker-5: #003939;
    --sakai-color-teal--darker-6: #002424;
    --sakai-color-teal--darker-7: #000f0f;
    --sakai-color-gold--lighter-7: #fbf8e6;
    --sakai-color-gold--lighter-6: #f6eec3;
    --sakai-color-gold--lighter-5: #f1e4a1;
    --sakai-color-gold--lighter-4: #ecda7f;
    --sakai-color-gold--lighter-3: #e7d05c;
    --sakai-color-gold--lighter-2: #e2c63a;
    --sakai-color-gold--lighter-1: #ddbd18;
    --sakai-color-gold: #dab601;
    --sakai-color-gold--darker-1: #c6a601;
    --sakai-color-gold--darker-2: #a98d01;
    --sakai-color-gold--darker-3: #8c7401;
    --sakai-color-gold--darker-4: #6e5c01;
    --sakai-color-gold--darker-5: #514300;
    --sakai-color-gold--darker-6: #332b00;
    --sakai-color-gold--darker-7: #161200;
    --sakai-color-green--lighter-7: #e6f6ed;
    --sakai-color-green--lighter-6: #c5ead6;
    --sakai-color-green--lighter-5: #a3debe;
    --sakai-color-green--lighter-4: #82d2a6;
    --sakai-color-green--lighter-3: #60c68e;
    --sakai-color-green--lighter-2: #3fba77;
    --sakai-color-green--lighter-1: #1dae5f;
    --sakai-color-green: #07a64f;
    --sakai-color-green--darker-1: #069748;
    --sakai-color-green--darker-2: #05813d;
    --sakai-color-green--darker-3: #046a33;
    --sakai-color-green--darker-4: #045428;
    --sakai-color-green--darker-5: #033d1d;
    --sakai-color-green--darker-6: #022713;
    --sakai-color-green--darker-7: #011108;
    --sakai-color-orange--lighter-7: #fbf1e6;
    --sakai-color-orange--lighter-6: #f6ddc5;
    --sakai-color-orange--lighter-5: #f1caa4;
    --sakai-color-orange--lighter-4: #ecb782;
    --sakai-color-orange--lighter-3: #e7a361;
    --sakai-color-orange--lighter-2: #e29040;
    --sakai-color-orange--lighter-1: #dc7d1e;
    --sakai-color-orange: #d97008;
    --sakai-color-orange--darker-1: #c56607;
    --sakai-color-orange--darker-2: #a85706;
    --sakai-color-orange--darker-3: #8b4805;
    --sakai-color-orange--darker-4: #6e3904;
    --sakai-color-orange--darker-5: #502903;
    --sakai-color-orange--darker-6: #331a02;
    --sakai-color-orange--darker-7: #160b01;
    --sakai-color-purple--lighter-7: #ededfe;
    --sakai-color-purple--lighter-6: #d4d4fe;
    --sakai-color-purple--lighter-5: #bbbbfd;
    --sakai-color-purple--lighter-4: #a3a3fc;
    --sakai-color-purple--lighter-3: #8a8afb;
    --sakai-color-purple--lighter-2: #7171fa;
    --sakai-color-purple--lighter-1: #5858fa;
    --sakai-color-purple: #4848f9;
    --sakai-color-purple--darker-1: #4242e3;
    --sakai-color-purple--darker-2: #3838c1;
    --sakai-color-purple--darker-3: #2e2e9f;
    --sakai-color-purple--darker-4: #24247e;
    --sakai-color-purple--darker-5: #1b1b5c;
    --sakai-color-purple--darker-6: #11113b;
    --sakai-color-purple--darker-7: #070719;
    --sakai-color-red--lighter-7: #fae6e7;
    --sakai-color-red--lighter-6: #f3c3c5;
    --sakai-color-red--lighter-5: #eca1a4;
    --sakai-color-red--lighter-4: #e57e83;
    --sakai-color-red--lighter-3: #de5c62;
    --sakai-color-red--lighter-2: #d73941;
    --sakai-color-red--lighter-1: #d11720;
    --sakai-color-red: #cc000a;
    --sakai-color-red--darker-1: #ba0009;
    --sakai-color-red--darker-2: #9e0008;
    --sakai-color-red--darker-3: #830006;
    --sakai-color-red--darker-4: #670005;
    --sakai-color-red--darker-5: #4b0004;
    --sakai-color-red--darker-6: #300002;
    --sakai-color-red--darker-7: #140001;
    --sakai-lessons-navy--lighter-7: #e6eaf0;
    --sakai-lessons-navy--lighter-6: #c3cddb;
    --sakai-lessons-navy--lighter-5: #a1b1c6;
    --sakai-lessons-navy--lighter-4: #7e94b2;
    --sakai-lessons-navy--lighter-3: #5c789d;
    --sakai-lessons-navy--lighter-2: #395b88;
    --sakai-lessons-navy--lighter-1: #173f74;
    --sakai-lessons-navy: #002c66;
    --sakai-lessons-navy--darker-1: #00285d;
    --sakai-lessons-navy--darker-2: #00224f;
    --sakai-lessons-navy--darker-3: #001c41;
    --sakai-lessons-navy--darker-4: #001634;
    --sakai-lessons-navy--darker-5: #001026;
    --sakai-lessons-navy--darker-6: #000a18;
    --sakai-lessons-navy--darker-7: #00040a;
}
:root {
    font-size: 14px;
    --portal-nav-sidebar-width: 16rem;
    --portal-header-height: 4.5rem;
    --sakai-course-card-border-radius: 4px;
    --sakai-title-bar-font-weight: 400;
    --sakai-font-family: Open Sans, sans-serif;
}
html {
    --sakai-options-menu-background-color: var(--sakai-background-color-3);
    --sakai-options-menu-border-color: var(--sakai-border-color);
}
html {
    --sakai-widget-panel-gutter-width: 14px;
}
html {
    --sakai-smallest-icon-width: 8px;
    --sakai-smallest-icon-height: 8px;
    --sakai-small-icon-width: 14px;
    --sakai-small-icon-height: 14px;
    --sakai-medium-icon-width: 24px;
    --sakai-medium-icon-height: 24px;
    --sakai-large-icon-width: 32px;
    --sakai-large-icon-height: 32px;
    --sakai-icon-alert-color: var(--errorBanner-color);
    --sakai-icon-alert-width: 6px;
    --sakai-icon-alert-margin-top: -18px;
    --sakai-icon-alert-margin-left: 15px;
}
html {
    --sakai-course-card-width: 402px;
    --sakai-course-card-info-height: 90px;
    --sakai-course-card-border-width: 0;
    --sakai-course-card-border-color: var(--sakai-border-color);
    --sakai-course-card-border-radius: 4px;
    --sakai-course-card-padding: 20px;
    --sakai-course-card-info-block-bg-color: var(--sakai-active-color-1);
    --sakai-icon-favourite-color: var(--all-sites-button-star-full-color);
    --sakai-course-card-title-color: var(--sakai-text-color-inverse);
    --sakai-course-card-title-font-size: 16px;
    --sakai-course-card-code-color: var(--sakai-text-color-inverse);
    --sakai-course-card-code-font-size: 12px;
    --sakai-course-card-tool-alerts-height: 40px;
    --sakai-course-card-tool-alerts-padding: 5px;
    --sakai-course-card-tool-alerts-color: var(--sakai-text-color-1);
    --sakai-course-card-bg-color: var(--sakai-background-color-1);
    --sakai-course-card-tool-alert-icon-color: var(--sakai-primary-color-1);
    --sakai-course-card-options-menu-favourites-block-color: var(--sakai-text-color);
    --sakai-course-card-options-menu-favourites-block-font-size: inherit;
    --sakai-course-card-options-menu-favourites-block-font-weight: bold;
    --sakai-course-card-options-menu-tools-title-font-weight: bold;
}
html {
    --sakai-course-list-course-top-margin: 10px;
}
html {
    --sakai-dashboard-container-padding: 40px;
    --sakai-dashboard-welcome-font-size: 32px;
    --sakai-motd-font-size: 16px;
    --sakai-motd-font-weight: bold;
    --sakai-motd-margin-top: 10px;
    --sakai-motd-padding: 12px;
    --sakai-motd-message-font-size: 12px;
}
html {
    --sakai-button-border-width: 1px;
    --sakai-button-border-color: var(--button-border-color);
    --sakai-button-border-radius: 4px;
    --sakai-button-padding: 7px 16px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.navIntraTool:after {
    content: " ";
    display: block;
    width: 100%;
}
*, *::before, *::after {
    box-sizing: border-box;
}