@charset "ISO-8859-1";

body {
	font: "Open Sans", sans-serif;
	font-size: 12.6px;
	font-weight: 400;
	line-height: 18px;
}

.MKSOuploadform {
	background-color: #31353b;
}

.MKSOLprivacyselect{
	margin-left: 2%;
	width: 15%;
	height: 60%;
	background-color: #31353b;
	border-radius: 0%;
	font-size: 95%;
	color: white;
	display: inline;

	
}
