@charset "UTF-8";

#periods-title {
    text-align: center; /* Centers the text */
    color: #333; /* Dark grey text color for readability */
    font-size: 3.5em; /* Slightly larger font size for more impact */
    font-family: 'Helvetica', sans-serif; /* Uses a clean, sans-serif font */
    font-weight: 200; /* Makes the text bold */
    margin-bottom: 30px; /* Increases spacing from the next element */
    line-height: 1.2; /* Adjusts line height for better readability */
    padding: 10px 0; /* Adds padding to the top and bottom of the title */
    display: inline-block; /* Ensures the background and padding wrap tightly around the text */
    margin-left: auto;
    margin-right: auto;
}