<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Authentication</title>
<th:block th:include="fragments/head"></th:block>
<th:block th:include="fragments/hnav"></th:block>
</head>
<body>
	<h1>Login</h1>
    <!-- <div th:if="${loggedIn}"> -->
    <div th:if="${loggedIn != null and loggedIn}">
        <form th:action="@{/auth/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
    </div>
 <!--    <div th:if="${!loggedIn}"> -->
 	<div th:if="${loggedIn == null or not loggedIn}">
        <form th:action="@{/auth/login}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password">
            </div>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <div th:if="${error}" style="color: red;">
            <p th:text="${error}"></p>
        </div>
    </div>

</body>
</html>