<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>CRUD</title>
<style>
.content {
	transition: margin-left 0.3s ease;
	margin-top: 6%;
}

.sidebar.open ~ .content {
	margin-left: 200px;
}
</style>
<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" type="text/css" href="resources/css/my_crud.css">

<link rel="stylesheet" type="text/css" href="resources/css/my_okr.css">

<script src="resources/js/crud_new.js"></script>

</head>
<body>
	<th:block th:include="fragments/my_leftsidenavbar.html"></th:block>
	<div id="content" class="content">
		<th:block th:include="crud.html"></th:block>
	</div>
<!-- <script>
		function toggleSidebar() {
			var sidebar = document.getElementById("sidebar");
			var content = document.getElementById("content");
			sidebar.classList.toggle("open");
			content.classList.toggle("shifted", sidebar.classList
					.contains("open"));
		}

		var toggles = document.querySelectorAll('.toggle-submenu');
		toggles.forEach(function(toggle) {
			toggle.addEventListener('click', function() {
				var parent = this.parentElement;
				parent.classList.toggle('open');
			});

    	})
    }
    

   	function showNotiDraftSave(message, type) {
   	    /* var notification = $('#notiDraftSave');
   	    notification.text(message);

   	    if (type === 'success') {
   	        notification.removeClass('error').addClass('success');
   	    } else if (type === 'error') {
   	        notification.removeClass('success').addClass('error');
   	    }

   	    notification.fadeIn(); */
   	    
   	 	$('#notification-message').text(message);
   	    if(type === 'success'){
   	    	$('#notiDraftSave').addClass('alert-success').removeClass('alert-danger');
   	    } else if (type === 'error'){
   	    	$('#notiDraftSave').addClass('alert-danger').removeClass('alert-success');
   	    }

        $('#notiDraftSave').show();
        $('#notiDraftSave').fadeIn();
        
   	    // Hide notificaiton after 3s
   	    setTimeout(function() {
   	    	$('#notiDraftSave').fadeOut();
   	    }, 3000);
   	}


    function updateRowNumbers() {
        $('#okr-table tbody tr').each(function(index) {
            $(this).find('td').eq(0).text(index + 1);
        });
    }

    function updateRowNumbersLayout() {
        $('#okr-layouttable tbody tr').each(function(index) {
            $(this).find('td').eq(0).text(index + 1);
        });
    }

    function makeTableSortable(selector) {
        $(selector).sortable({
            items: 'tbody tr',
            cursor: 'move',
            axis: 'y',
            update: function(event, ui) {
                updateRowNumbers();
                updateRowNumbersLayout();
            }
        });
    }

    function enableCellEditTracking(row) {
        $(row).find('td').not('.non-editable').each(function() {
            $(this).attr('contenteditable', 'true').addClass('cell-editable');
        });
        $(row).find('.editTracking-btn').html('<i class="fas fa-save"></i> Save');
        $("#okr-table").sortable("disable");
    }
    
    function enableCellEditLayout(row) {
        $(row).find('td').not('.non-editable').each(function() {
            $(this).attr('contenteditable', 'true').addClass('cell-editable');
        });
        $(row).find('.editLayout-btn').html('<i class="fas fa-save"></i> Save');
        $("#okr-layouttable").sortable("disable");
    }

    function disableCellEditTracking(row) {
        $(row).find('td').not('.non-editable').each(function() {
            $(this).attr('contenteditable', 'false').removeClass('cell-editable');
        });
        $(row).find('.editTracking-btn').html('<i class="fas fa-edit"></i> Edit');
        $("#okr-table").sortable("enable");
    }
    
    function disableCellEditLayout(row) {
        $(row).find('td').not('.non-editable').each(function() {
            $(this).attr('contenteditable', 'false').removeClass('cell-editable');
        });
        $(row).find('.editLayout-btn').html('<i class="fas fa-edit"></i> Edit');
        $("#okr-layouttable").sortable("enable");
    }

    $('#MKSOLAddRow').click(addRow);
    $('#MKSOLAddRowLayout').click(addRowLayout);

    $('#MKSOLUpdateperiod').click(updateData);
    /* $('#submit-layout').click(updateDataLayout); */
    $('#submit-layout').on('click',updateDataLayout);
	$('#draft-save').click(draftSaveOkr);

    $('#okr-table').on('click', '.editTracking-btn', function() {
        var row = $(this).closest('tr');
        if ($(this).find('i').hasClass('fa-edit')) {
            enableCellEditTracking(row);
        } else {
            disableCellEditTracking(row);
        }
    });

    $('#okr-layouttable').on('click', '.editLayout-btn', function() {
        var row = $(this).closest('tr');
        if ($(this).find('i').hasClass('fa-edit')) {
            enableCellEditLayout(row);
        } else {
            disableCellEditLayout(row);
        }
    });

    $('#okr-table').on('click', '.deleteTracking-btn', function() {
        var row = $(this).closest('tr');
        trackingTable.row(row).remove().draw();
        updateRowNumbers();
    });

    $('#okr-layouttable').on('click', '.deleteLayout-btn', function() {
        var row = $(this).closest('tr');
        layoutTable.row(row).remove().draw();
        updateRowNumbersLayout();
    });
    
    fetchData();
    fetchDataLayout();
    

    function loadOKRs() {
        fetch('objectives/loaddata')
            .then(response => response.json())
            .then(data => {
                if (data.data && data.data.objectives && Array.isArray(data.data.objectives)) {
                    const okrCardsContainer = $('#okr-cards');
                    okrCardsContainer.empty(); 

                    data.data.objectives.forEach(objective => {
                        let okrContent = '';
                        if (objective.keyResults && Array.isArray(objective.keyResults)) {
                            objective.keyResults.forEach(keyResult => {
                                const startValue = keyResult.startvalue;
                                const targetValue = keyResult.target;
                                const progress = keyResult.progress;
                                console.log('progress:', progress);


                                if (!isNaN(progress) && isFinite(progress)) {
                                    okrContent += `
                                        <p>${keyResult.description}</p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: ${progress}%;">${progress.toFixed(2)}%</div>
                                        </div>
                                    `;
                                }
                            });
                        }

                        const cardHtml = `
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">${objective.description}</h5>
                                        <p class="text-muted">Weight: ${objective.weight}</p>
                                        <div class="okr-content">
                                            ${okrContent}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;

                        okrCardsContainer.append(cardHtml);
                    });
                } else {
                    console.error('Unexpected data structure in the JSON data');
                }
            })
            .catch(error => {
                console.error('Error fetching OKR data:', error);
            });
    }

        loadOKRs();


        document.getElementById('export-btn').addEventListener('click', function() {
            const data = [
                ["Objective", "Key Result", "Progress"],
            ];

            $('#okr-cards .card').each(function() {
                const objective = $(this).find('.card-title').text();
                $(this).find('.okr-content p').each(function(index, element) {
                    const keyResult = $(element).text();
                    const progress = $(element).next('.progress').find('.progress-bar').css('width');
                    data.push([objective, keyResult, progress]);
                });
            });

            const ws = XLSX.utils.aoa_to_sheet(data);
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, "OKRs");
            XLSX.writeFile(wb, "OKR_Dashboard.xlsx");
        });
    

});
</script>



</body>
</html>
