<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>OKR Tracking</title>
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet"
	href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/themes/default/style.min.css" />
<script
	src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
	integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
	integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
	crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script
	src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>
<script
	src="https://cdn.datatables.net/1.13.6/js/dataTables.dateTime.min.js"></script>

<script
	src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>

<style>
body {
	background-color: #ffffff;
	color: #333333;
}

.table {
	border-collapse: collapse;
	width: 100%;
	font-size: 0.875rem;
}

.table th, .table td {
	border: 1px solid #cccccc;
	padding: 12px;
	text-align: left;
}

.table th {
	background-color: #f2f2f2;
	color: #333333;
}

.table tr:nth-child(even) {
	background-color: #f9f9f9;
}

.table tr:nth-child(odd) {
	background-color: #ffffff;
}

.draggable {
	cursor: move;
}

.edit-btn, .delete-btn {
	cursor: pointer;
	color: #333333;
	text-decoration: none;
}

.edit-btn:hover, .delete-btn:hover {
	color: #000000;
}

.ui-state-highlight {
	background: #e0e0e0;
	border: 1px dashed #cccccc;
}

.cell-editable {
	border: 1px solid #007bff;
	background-color: #ffffff;
}

.non-editable {
	cursor: default;
}

.btn-custom {
	border-color: #333333;
	color: #333333;
}

.btn-custom:hover {
	background-color: #333333;
	color: #ffffff;
}

.column-name {
	width: 20%;
}

.column-start-date {
	width: 20%;
}

.column-end-date {
	width: 20%;
}

.column-current-period {
	width: 10%;
}

.column-actions {
	width: 20%;
}

.card-header {
	background-color: #f1f1f1;
}

.card-body {
	background-color: #ffffff;
}

.nav-tabs .nav-link {
	color: #333333;
}

.nav-tabs .nav-link.active {
	color: #ffffff;
	background-color: #333333;
}

.btn-outline-dark {
	color: #333333;
	border-color: #333333;
}

.btn-outline-dark:hover {
	background-color: #333333;
	color: #ffffff;
}

.dropdown-menu {
	background-color: #ffffff;
	border: 1px solid #cccccc;
}

.dropdown-item {
	color: #333333;
}

.dropdown-item:hover {
	background-color: #f2f2f2;
}

.form-check-label {
	color: #333333;
}

.form-check-input {
	cursor: pointer;
}

#okr-dashboard-content .card {
	margin-bottom: 1rem;
}

.dataTables_wrapper .dataTables_filter {
	margin-bottom: 2%;
}

.dataTables_wrapper .dataTables_paginate {
	margin-bottom: 2%;
}

.card {
	margin-bottom: 20px;
}

.progress-bar {
	background-color: #000;
}

.card-title {
	font-size: 1.25rem;
	font-weight: bold;
}

.okr-content {
	font-size: 0.9rem;
}

.export-btn {
	float: right;
	margin-bottom: 20px;
}
</style>

</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-3" id="sidebar">
				<div class="card">
					<div class="card-body">
						<div id="jstree">
							<ul>
								<li><a href="#">My OKR</a>
									<ul>
										<li><a href="crud">Create OKR</a>
											<ul>
												<li><a href="selfscoring">Self-scoring</a></li>
												<li><a href="#">Upload OKR</a></li>
											</ul></li>
										<li><a href="reviewokr">Review OKR</a></li>
									</ul></li>
								<li><a href="#">Configuration</a>
									<ul>
										<li><a href="#">Periods</a></li>
										<li><a href="#">Units</a></li>
									</ul></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="col-9">
				<div class="card">
					<div class="card-header">
						<ul class="nav nav-tabs card-header-tabs">
							<li class="nav-item"><a
								class="nav-link active MKSOLCRUDTabmenu" href="#okr-tracking"
								data-bs-toggle="tab">Period</a></li>
							<li class="nav-item"><a class="nav-link MKSOLCRUDTabmenu"
								href="#okr-layout" data-bs-toggle="tab">OKR</a></li>
							<li class="nav-item"><a class="nav-link MKSOLCRUDTabmenu"
								href="#okr-dashboard" data-bs-toggle="tab">OKR Dashboard</a></li>
						</ul>
					</div>
					<div class="card-body tab-content">
						<div class="tab-pane active" id="okr-tracking">
							<div class="card p-3">
								<div
									class="mb-3 d-flex justify-content-between align-items-center">
									<p class="m-0">Period</p>
									<button class="btn float-end btn-outline-dark btn-sm"
										id="MKSOLAddRow">
										<i class="fas fa-plus"></i> Add Row
									</button>
									<button type="button" class="btn btn-outline-dark btn-sm"
										style="width: 15%; margin-right: 2%" id="MKSOLUpdateperiod">
										<i class="fas fa-save"></i> Update period
									</button>
								</div>
								<table id="okr-table" class="table table-bordered">
									<thead>
										<tr>
											<th class="column-number">No</th>
											<th class="column-name">Name</th>
											<th class="column-start-date">Start Date</th>
											<th class="column-end-date">End Date</th>
											<th class="column-current-period">Current Period</th>
											<th class="column-actions">Actions</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>
							</div>
						</div>
						<div class="tab-pane" id="okr-layout">
							<div class="card" style="padding: 2%">
								<p>OKR</p>
								<div class="row">
									<div class="col-9">
										<div class="btn-group" style="width: 30%">
											<button class="btn btn-sm" type="button">Quý 1/2023</button>
											<button type="button"
												class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split"
												data-bs-toggle="dropdown" aria-expanded="false">
												<span class="visually-hidden">Toggle Dropdown</span>
											</button>
											<ul class="dropdown-menu">
												<li><a class="dropdown-item" href="#">Quý 1/2023</a></li>
												<li><a class="dropdown-item" href="#">Quý 1/2023</a></li>
												<li><a class="dropdown-item" href="#">Quý 1/2023</a></li>
											</ul>
										</div>
									</div>
									<div class="col-3">
										<div class="form-group form-check">
											<input type="checkbox" class="form-check-input"
												id="draft-local-save"> <label
												class="form-check-label" for="draft-local-save">Draft
												local save</label>
										</div>
									</div>
								</div>
								</br>
								<table id="okr-layouttable" class="table table-bordered">
									<thead>
										<tr>
											<th class="column-number">No</th>
											<th class="column-objectives">Objectives</th>
											<th class="column-weight">Weight</th>
											<th class="column-key-results">Key results</th>
											<th class="column-unit">Unit</th>
											<th class="column-start-value">Start value</th>
											<th class="column-target">Target</th>
											<th class="column-progress">Progress</th>
											<th class="column-actions">Actions</th>
										</tr>
									</thead>
									<tbody>
									</tbody>
								</table>

								</br>
								<div class="d-flex justify-content-end">
									<button type="button" class="btn mr-2 border MKSOLokrlayout"
										id="MKSOLAddRowLayout">Add Row</button>
									<button type="button" class="btn border MKSOLokrlayout"
										id="submit-layout">Submit</button>
								</div>
							</div>
						</div>

						<div class="tab-pane" id="okr-dashboard">
							<div class="card p-3">
								<div
									class="mb-3 d-flex justify-content-between align-items-center">
									<p class="m-0">OKR Dashboard</p>
									<button type="button" class="btn btn-outline-dark btn-sm"
										id="export-btn">
										<i class="fas fa-file-excel"></i> Export to Excel
									</button>
								</div>
								<div class="row mb-3">
									<div class="col-md-4">
										<select class="form-select">
											<option>All Periods</option>
										</select>
									</div>
									<div class="col-md-4">
										<select class="form-select">
											<option>All Departments</option>
										</select>
									</div>
									<div class="col-md-4">
										<select class="form-select">
											<option>All Users</option>
										</select>
									</div>
								</div>
								<div id="okr-cards" class="row"></div>
							</div>
						</div>



					</div>
				</div>
			</div>
		</div>
	</div>

	<script>
$(document).ready(function() {
    $('#jstree').jstree({
        'core': {
            'themes': {
                'name': 'default',
                'responsive': true
            }
        }
    });

    $('#jstree').on('click', 'a[href="crud"]', function() {
        window.location.href = 'crud';
    });

    $('#jstree').on('click', 'a[href="selfscoring"]', function() {
        window.location.href = 'selfscoring';
    });
    $('#jstree').on('click', 'a[href="reviewokr"]', function() {
        window.location.href = 'reviewokr';
    });

    var trackingTable = $('#okr-table').DataTable({
        "paging": true,
        "searching": true,
        "info": false,
        "ordering": true,
    });

    var layoutTable = $('#okr-layouttable').DataTable({
        "paging": true,
        "searching": true,
        "info": false,
        "ordering": true,
    });
    
    var newRows = [];
    var newLayoutRows = [];


    function addRow() {
        var newRowIndex = $('#okr-table tbody tr').length + 1;
        var newRow = 
            `<tr class="draggable new-row">
                <td>${newRowIndex}</td>
                <td contenteditable="false" tabindex="0"></td>
                <td contenteditable="false" tabindex="0"></td>
                <td contenteditable="false" tabindex="0"></td>
                <td contenteditable="false" tabindex="0"></td>
                <td class="non-editable">
                    <span class="editTracking-btn"><i class="fas fa-edit"></i> Edit</span>
                    <span class="deleteTracking-btn"><i class="fas fa-trash"></i> Delete</span>
                </td>
            </tr>`;
        var row = $(newRow);
        trackingTable.row.add(row).draw();
        newRows.push(row);
        updateRowNumbers();
        makeTableSortable('#okr-table');
    }

    function addRowLayout() {
        var newRowIndex = $('#okr-layouttable tbody tr').length + 1;
        var newRow = 
            `<tr data-new="true">
                <td>${newRowIndex}</td>
                <td contenteditable="false"></td>
                <td contenteditable="false"></td>
                <td contenteditable="false"></td>
                <td contenteditable="false"></td>
                <td contenteditable="false"></td>
                <td contenteditable="false"></td>
                <td contenteditable="false"></td>

                <td>
                    <span class="editLayout-btn"><i class="fas fa-edit"></i> Edit</span>
                    <span class="deleteLayout-btn"><i class="fas fa-trash"></i> Delete</span>
                </td>
            </tr>`;
        var row = $(newRow);
        layoutTable.row.add(row).draw();
        newLayoutRows.push(row);
        updateRowNumbersLayout();
        makeTableSortable('#okr-layouttable');
    }

    function flattenData(data) {
        var result = [];
        data.forEach(function(item) {
            result.push({
                No: result.length + 1,
                name: item.name,
                startDate: item.startDate,
                endDate: item.endDate,
                currentPeriod: item.currentPeriod
            });
            if (item.childs && Array.isArray(item.childs)) {
                item.childs.forEach(function(child) {
                    result.push({
                        No: result.length + 1,
                        name: child.name,
                        startDate: child.startDate,
                        endDate: child.endDate,
                        currentPeriod: child.currentPeriod
                    });
                });
            }
        });
        return result;
    }

    function fetchData() {
        fetch('period/loaddata')
            .then(response => response.json())
            .then(jsonData => {
                var data = [];
                if (jsonData.data && Array.isArray(jsonData.data)) {
                    data = flattenData(jsonData.data);
                } else {
                    console.error('Unexpected data structure in the JSON data');
                }

                trackingTable.clear();
                data.forEach(row => {
                    var rowHtml = 
                        `<tr class="draggable">
                            <td>${row.No}</td>
                            <td>${row.name}</td>
                            <td>${row.startDate}</td>
                            <td>${row.endDate}</td>
                            <td>${row.currentPeriod}</td>
                            <td class="non-editable">
                                <span class="editTracking-btn"><i class="fas fa-edit"></i> Edit</span>
                                <span class="deleteTracking-btn"><i class="fas fa-trash"></i> Delete</span>
                            </td>
                        </tr>`;
                    trackingTable.row.add($(rowHtml)).draw();
                });
                updateRowNumbers();
                makeTableSortable('#okr-table');
            })
            .catch(error => {
                console.error('Error fetching data:', error);
            });
    }

    function fetchDataLayout() {
        fetch('objectives/loaddata')
            .then(response => response.json())
            .then(jsonData => {
                if (jsonData.data.objectives && Array.isArray(jsonData.data.objectives)) {
                    var data = [];
                    var counter = 1;

                    jsonData.data.objectives.forEach(item => {
                        if (item.keyResults && Array.isArray(item.keyResults)) {
                            item.keyResults.forEach(keyResult => {
                                let unitType;
                                switch (keyResult.itype) {
                                    case 1:
                                        unitType = 'Number';
                                        break;
                                    case 2:
                                        unitType = 'Yes/No';
                                        break;
                                    case 3:
                                        unitType = 'Percentage';
                                        break;
                                    default:
                                        unitType = 'N/A';
                                        break;
                                }

                                var childData = [
                                    counter++, 
                                    item.description, 
                                    item.weight, 
                                    keyResult.description, 
                                    unitType, 
                                    keyResult.startvalue, 
                                    keyResult.target,
                                    keyResult.progress,
                                    '<span class="editLayout-btn"><i class="fas fa-edit"></i> Edit</span> <span class="deleteLayout-btn"><i class="fas fa-trash"></i> Delete</span>'
                                ];
                                data.push(childData);
                            });
                        }
                    });

                    layoutTable.clear();
                    layoutTable.rows.add(data).draw();
                    updateRowNumbersLayout();
                    makeTableSortable('#okr-layouttable');
                } else {
                    console.error('Unexpected data structure in the JSON data');
                }
            })
            .catch(error => {
                console.error('Error fetching layout data:', error);
            });
    }


    function updateData() {
        var rowsData = [];
        var parentIdMap = {};

        $('#okr-table tbody tr').each(function() {
            var row = $(this);
            var endDate = row.find('td').eq(3).text();
            var endDateYear = new Date(endDate).getFullYear();

            if (!parentIdMap[endDateYear]) {
                parentIdMap[endDateYear] = null;
            }

            parentIdMap[endDateYear] = null; 
        });

        newRows.forEach(function(row) {
            var name = row.find('td').eq(1).text();
            var startDate = row.find('td').eq(2).text();
            var endDate = row.find('td').eq(3).text();
            var currentPeriod = row.find('td').eq(4).text() === 'true'; 

            var endDateYear = new Date(endDate).getFullYear();
            var parentId = parentIdMap[endDateYear]; 

            var rowData = {
                name: name,
                startDate: startDate,
                endDate: endDate,
                parentId: parentId, 
                setAsRoot: parentId === null, 
                currentPeriod: currentPeriod 
            };

            rowsData.push(rowData); 
        });

        newRows = [];

        if (rowsData.length === 0) {
            console.warn('No new data to update');
            return;
        }

        rowsData.forEach(function(data) {
            fetch('period/uploaddata', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(result => {
                console.log('Data successfully updated:', result);
            })
            .catch(error => {
                console.error('Error updating data:', error);
            });
        });
    }
    
    
    function updateDataLayout() {
        $('#okr-layouttable tbody tr[data-new="true"]').each(function() {
            var row = $(this);
            var description = row.find('td').eq(1).text().trim();
            var weight = row.find('td').eq(2).text().trim();
            var keyResultDescription = row.find('td').eq(3).text().trim();
            var unit = row.find('td').eq(4).text().trim();
            var startValue = row.find('td').eq(5).text().trim();
            var target = row.find('td').eq(6).text().trim();
            var progress = row.find('td').eq(7).text().trim();
            
            if (!description || !weight || !keyResultDescription || !unit || !startValue || !target || !progress) {
                console.warn('One or more fields are empty in the row.');
                return; 
            }

            var objective = {
                description: description,
                status: 'DRAFT',
                progress: progress,
                weight: weight,
                comment: '',
                keyResults: []
            };

            var keyResult = {
                description: keyResultDescription,
                dueDate: '',
                itype: unit === 'Number' ? 1 : unit === 'Yes/No' ? 2 : unit === 'Percentage' ? 3 : 0, 
                weight: weight,
                numberResult: 0,
                numberTarget: target,
                yesNoResult: false,
                yesNoTarget: false,
                percentageResult: 0,
                percentageTarget: target,
                standard: 'None',
                startvalue: startValue,
            };

            objective.keyResults.push(keyResult);

            var requestData = { objectives: [objective] }; 

            if (requestData.objectives.length === 0) {
                console.warn('No data to update');
                return;
            }

            console.log('Sending data:', JSON.stringify(requestData));

            fetch('objectives/uploaddata', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(requestData)
            })
            .then(response => response.json())
            .then(result => {
                console.log('Data successfully updated:', JSON.stringify(result));
                row.removeAttr('data-new'); 
            })
            .catch(error => {
                console.error('Error updating data:', error);
            });
        });
    }





    function updateRowNumbers() {
        $('#okr-table tbody tr').each(function(index) {
            $(this).find('td').eq(0).text(index + 1);
        });
    }

    function updateRowNumbersLayout() {
        $('#okr-layouttable tbody tr').each(function(index) {
            $(this).find('td').eq(0).text(index + 1);
        });
    }

    function makeTableSortable(selector) {
        $(selector).sortable({
            items: 'tbody tr',
            cursor: 'move',
            axis: 'y',
            update: function(event, ui) {
                updateRowNumbers();
                updateRowNumbersLayout();
            }
        });
    }

    function enableCellEditTracking(row) {
        $(row).find('td').not('.non-editable').each(function() {
            $(this).attr('contenteditable', 'true').addClass('cell-editable');
        });
        $(row).find('.editTracking-btn').html('<i class="fas fa-save"></i> Save');
        $("#okr-table").sortable("disable");
    }
    
    function enableCellEditLayout(row) {
        $(row).find('td').not('.non-editable').each(function() {
            $(this).attr('contenteditable', 'true').addClass('cell-editable');
        });
        $(row).find('.editLayout-btn').html('<i class="fas fa-save"></i> Save');
        $("#okr-layouttable").sortable("disable");
    }

    function disableCellEditTracking(row) {
        $(row).find('td').not('.non-editable').each(function() {
            $(this).attr('contenteditable', 'false').removeClass('cell-editable');
        });
        $(row).find('.editTracking-btn').html('<i class="fas fa-edit"></i> Edit');
        $("#okr-table").sortable("enable");
    }
    
    function disableCellEditLayout(row) {
        $(row).find('td').not('.non-editable').each(function() {
            $(this).attr('contenteditable', 'false').removeClass('cell-editable');
        });
        $(row).find('.editLayout-btn').html('<i class="fas fa-edit"></i> Edit');
        $("#okr-layouttable").sortable("enable");
    }

    $('#MKSOLAddRow').click(addRow);
    $('#MKSOLAddRowLayout').click(addRowLayout);

    $('#MKSOLUpdateperiod').click(updateData);
    $('#submit-layout').click(updateDataLayout);


    $('#okr-table').on('click', '.editTracking-btn', function() {
        var row = $(this).closest('tr');
        if ($(this).find('i').hasClass('fa-edit')) {
            enableCellEditTracking(row);
        } else {
            disableCellEditTracking(row);
        }
    });

    $('#okr-layouttable').on('click', '.editLayout-btn', function() {
        var row = $(this).closest('tr');
        if ($(this).find('i').hasClass('fa-edit')) {
            enableCellEditLayout(row);
        } else {
            disableCellEditLayout(row);
        }
    });

    $('#okr-table').on('click', '.deleteTracking-btn', function() {
        var row = $(this).closest('tr');
        trackingTable.row(row).remove().draw();
        updateRowNumbers();
    });

    $('#okr-layouttable').on('click', '.deleteLayout-btn', function() {
        var row = $(this).closest('tr');
        layoutTable.row(row).remove().draw();
        updateRowNumbersLayout();
    });
    
    fetchData();
    fetchDataLayout();
    

    function loadOKRs() {
        fetch('objectives/loaddata')
            .then(response => response.json())
            .then(data => {
                if (data.data && data.data.objectives && Array.isArray(data.data.objectives)) {
                    const okrCardsContainer = $('#okr-cards');
                    okrCardsContainer.empty(); 

                    data.data.objectives.forEach(objective => {
                        let okrContent = '';
                        if (objective.keyResults && Array.isArray(objective.keyResults)) {
                            objective.keyResults.forEach(keyResult => {
                                const startValue = keyResult.startvalue;
                                const targetValue = keyResult.target;
                                const progress = keyResult.progress;
                                console.log('progress:', progress);


                                if (!isNaN(progress) && isFinite(progress)) {
                                    okrContent += `
                                        <p>${keyResult.description}</p>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: ${progress}%;">${progress.toFixed(2)}%</div>
                                        </div>
                                    `;
                                }
                            });
                        }

                        const cardHtml = `
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">${objective.description}</h5>
                                        <p class="text-muted">Weight: ${objective.weight}</p>
                                        <div class="okr-content">
                                            ${okrContent}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        `;

                        okrCardsContainer.append(cardHtml);
                    });
                } else {
                    console.error('Unexpected data structure in the JSON data');
                }
            })
            .catch(error => {
                console.error('Error fetching OKR data:', error);
            });
    }

        loadOKRs();


        document.getElementById('export-btn').addEventListener('click', function() {
            const data = [
                ["Objective", "Key Result", "Progress"],
            ];

            $('#okr-cards .card').each(function() {
                const objective = $(this).find('.card-title').text();
                $(this).find('.okr-content p').each(function(index, element) {
                    const keyResult = $(element).text();
                    const progress = $(element).next('.progress').find('.progress-bar').css('width');
                    data.push([objective, keyResult, progress]);
                });
            });

            const ws = XLSX.utils.aoa_to_sheet(data);
            const wb = XLSX.utils.book_new();
            XLSX.utils.book_append_sheet(wb, ws, "OKRs");
            XLSX.writeFile(wb, "OKR_Dashboard.xlsx");
        });
    

});
</script>



</body>
</html>
