<!DOCTYPE html>
<html lang="en">
<head>
<script src="resource/js/jquery-1.11.0.js"></script>
<script src="resources/js/bootstrap.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$('dropdown-toggle').dropdown()
	});
</script>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="" />
<meta name="author" content="" />
<script
	src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script
	src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js"></script>
<script src="jquery/jquery.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.css">
<link
	href="https://stackpath.bootstrapcdn.com/bootstrap/5.2.0/css/bootstrap.min.css"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
	rel="stylesheet" type="text/css">
<link
	href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700"
	rel="stylesheet" type="text/css">
<link href="resources/css/styles.css" rel="stylesheet">
<!-- Core theme CSS (includes Bootstrap)-->



<title>CRUD</title>
<!-- Handsontable CSS -->
<style>
body {
	display: flex;
	justify-content: center;
	height: 100vh;
}

.container {
	text-align: center;
	align-items: center;
	border: 2px solid red;
}

.row, col {
	border: 2px solid red;
	justify-content: center;
	vertical-align: middle;
	align-items: center;
}
</style>
</head>
<body>


	<div class="container">
		<div class="row">
			<div class="col ">OKR</div>
			<div class="col">
				<h2>My OKR</h2>
			</div>
			<div class="col">
				<div class="row">Process</div>
				<div class="row">Requirement</div>
			</div>
		</div>
		<div class="row">
			<div class="col">Description</div>
			<div class="col">
				<h6>Chương trình quản lý ORK cho doanh nghiệp</h6>
			</div>
			<div class="col">
				<div class="row">
					<div class="col">Create Date</div>
					<div class="col">09/09/2022</div>
					<div class="col">Creator</div>
					<div class="col">Thach Le</div>
				</div>
				<div class="row">
					<div class="col">Update Date</div>
					<div class="col"></div>
					<div class="col">Updater</div>
					<div class="col"></div>
				</div>
			</div>
		</div>
		<div class="dropdown">
			<a class="btn btn-secondary dropdown-toggle show" href="#"
				role="button" data-bs-toggle="dropdown" aria-expanded="true">
				Dropdown link </a>

			<ul class="dropdown-menu show"
				style="position: absolute; inset: auto auto 0px 0px; margin: 0px; transform: translate3d(0px, -40px, 0px);"
				data-popper-placement="top-start">
				<li><a class="dropdown-item" href="#">Action</a></li>
				<li><a class="dropdown-item" href="#">Another action</a></li>
				<li><a class="dropdown-item" href="#">Something else here</a></li>
			</ul>
		</div>


		<div class="row">
			<div id="hot-container">
				<script
					src="https://cdn.jsdelivr.net/npm/handsontable@9.0.0/dist/handsontable.full.min.js"></script>
				<script>
					document.addEventListener('DOMContentLoaded', function() {
						// Define data for the table
						var data = [ [ 'Hao', 25, 'Designer' ],
								[ 'Tuan', 30, 'Designer' ],
								[ 'Nhan', 35, 'Manager' ] ];

						// Configuration options
						var hotOptions = {
							data : data,
							rowHeaders : true,
							colHeaders : [ 'Name', 'Age', 'Occupation' ],
						// Add any other options you want to configure
						};

						// Create a new Handsontable instance
						var hotInstance = new Handsontable(document
								.getElementById('hot-container'), hotOptions);
					});
				</script>
			</div>
		</div>

	</div>



















	<!-- Handsontable JavaScript -->

</body>
</html>
