<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Homepage</title>
<style>
.content {
	transition: margin-left 0.3s ease;
	
}

.sidebar.open ~ .content {
	margin-left: 200px;
}
</style>

<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" type="text/css" href="resources/css/my_leftsidenavbar.css">
<link rel="stylesheet" type="text/css" href="resources/css/my_crud.css">

<link rel="stylesheet" type="text/css" href="resources/css/my_okr.css">

<link rel="stylesheet" type="text/css" href="resources/css/landing_page.css">


</head>
<body>
   
	<th:block th:include="fragments/my_leftsidenavbar.html"></th:block>
	
	
</body>
</html>
