<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Connections</title>
<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" type="text/css"
	href="resources/css/my_connections.css">

</head>
<body>
	<th:block th:include="fragments/profile/my_navbar"></th:block>
	<th:block th:include="fragments/profile/my_header"></th:block>
	<th:block th:include="fragments/profile/my_menu"></th:block>
	<th:block th:include="fragments/profile/my_connectionsdisplay"></th:block>

</body>
</html>