<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Preferences</title>
<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" type="text/css"
	href="resources/css/my_preferences.css">

</head>
<body>
	<th:block th:include="fragments/profile/my_navbar"></th:block>
	<th:block th:include="fragments/profile/my_header"></th:block>
	<th:block th:include="fragments/profile/my_menupreferences"></th:block>
	<th:block th:include="fragments/profile/my_preferencesdisplay"></th:block>


</body>
</html>
