<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Profile</title>
<style>
.content {
	transition: margin-left 0.3s ease;
	margin-top: 6%;
}

.sidebar.open ~ .content {
	margin-left: 200px;
}
</style>
<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" type="text/css" href="resources/css/my_crud.css">

<link rel="stylesheet" type="text/css" href="resources/css/my_okr.css">

<link rel="stylesheet" type="text/css"
	href="resources/css/my_profile.css">
<script src="resources/js/profile/my_profile.js">
	
</script>
<script src="resources/js/profile/profile.js"></script>
<style type="text/css">.navbar {
	padding: 0;
	background-color: #333435;
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1000;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 60px;
}
</style>

</head>
<body>
	<th:block th:include="fragments/my_leftsidenavbar.html"></th:block>
	<div id="content" class="content">
		<th:block th:include="fragments/profile/my_header"></th:block>
		<th:block th:include="fragments/profile/my_menu"></th:block>
		<th:block th:include="fragments/profile_new/my_profiledisplay"></th:block>
<!-- 		<button type="button" class="btn btn-primary" id="MKSOLchangemode">Change
			mode</button> -->
	</div>
	


</body>
</html>
