<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Privacy</title>
<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" type="text/css"
	href="resources/css/my_profile.css">
<script src="resources/js/profile/profile.js"></script>

</head>
<body>
	<th:block th:include="fragments/profile/my_navbar"></th:block>
	<th:block th:include="fragments/profile/my_header"></th:block>
	<th:block th:include="fragments/profile/my_menuprivacy"></th:block>
	<th:block th:include="fragments/profile/my_privacydisplay"></th:block>


</body>
</html>
