<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>MKSOL Profile</title>
<link
	href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
	rel="stylesheet" id="bootstrap-css">
<script
	src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" href="my_profile.css">
</head>
<body>
	<div class="background-header p-3 ml-0 fixed-top d-block"
		style="background-color: #383434">
		<div class="d-inline p-3 mx-0 ml-0 text-white logo-header "
			style="background-color: #083c6c">
			<img alt="Logo MKSOL" src="asset/sakaiLogo.png" /> <i
				class="bi bi-list d-inline"></i>
		</div>
		<div class="d-inline p-3 content-header">
			<a href="#" class="text-white px-3">Home</a> <a href="#"
				class="text-white">Profile</a>

		</div>
	</div>
	<div class="d-block bg-dark text-white" style="margin-top: 4%">
		<div  class="d-block bg-dark text-white" style="padding-top: 3%">
		</div>
	</div>
</body>
</html>
