<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<th:block th:include="fragments/head"></th:block>
<!-- <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script> -->
<!-- <link rel="stylesheet" -->
<!-- 	href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" -->
<!-- 	type="text/css" /> -->
<title>Upload file</title>
</head>
<body>
	<th:block th:include="fragments/hnav"></th:block>
	<div class="container">
		<form id="excel-form" action="/myo-web/upload" method="POST"
			enctype="multipart/form-data">
			<div class="input-field">
				<input name="file" type="file" class="input-file" id="file" multiple />
				<span>Upload excel file to input OKR</span>
			</div>
			<input type="submit" value="Preview" />
		</form>
	</div>

	<table border="1">
		<thead>
			<tr>
			</tr>
		</thead>
		<tbody>
			<tr th:each="row : ${data}">
				<td th:each="cell : ${row}" th:text="${cell}"></td>
			</tr>
		</tbody>
	</table>
	<script type="text/javascript" th:src="@{/resources/inputExcel.js}">
		// 		Dropzone.options.myDropzone = {
		// 			acceptedFiles : ".xls,.xlsx",
		// 			uploadMultiple : true,
		// 			createImageThumbnails : true,
		// 			maxFiles : 4,
		// 			init : function() {
		// 				this.on("success", function(file, response) {
		// 					alert("File uploaded successfully!");
		// 					// can add additional logic here
		// 				});

		// 				this.on("error", function(file, errorMessage) {
		// 					alert("Error uploading file: " + errorMessage);
		// 				});
		// 				;
		// 			}
		// 		};
	</script>
</body>
</html>