<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Organization Table</title>
<th:block th:include="fragments/head"></th:block>
<link rel="stylesheet" type="text/css" href="resources/css/my_crud.css">

<link rel="stylesheet" type="text/css" href="resources/css/my_okr.css">
<script src="resources/js/organization.js"></script>
</head>
<body>
    <th:block th:include="fragments/my_leftsidenavbar.html"></th:block>
    <div id="content" class="content"></div>
    <div id="container-fluid" >
	<h1>Organization Management</h1>

	<label for="orgSelect">Select Organization:</label>
	<select id="orgSelect">
		<option value="">--Select an organization--</option>
		<!-- Options will be populated by JavaScript -->
	</select>

	<h2>Users in Selected Organization:</h2>
	<table id="userTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody id="userTableBody">
			<!-- Users will be listed here -->
		</tbody>
	</table>
	<div>
		<h4>Create New Organization</h4>
		<label for="orgName">Name:</label> <input type="text" id="orgName"
			placeholder="Enter organization name"> <label
			for="orgDescription">Description:</label> <input type="text"
			id="orgDescription" placeholder="Enter organization description">

		<button id="createOrgButton">Create Organization</button>
	</div>
	<div>
		<h4>Add New Member</h4>
		<label for="startDate">Start Date:</label> <input type="date"
			id="startDate" /> <label for="endDate">End Date:</label> <input
			type="date" id="endDate" /> <label for="userDropdown">Select
			User:</label> <select id="userDropdown">
		</select>
		<button id="addMemberButton">Add Member</button>
	</div>
	<div>
		<h4>Delete Organization</h4>
		<label for="leafOrgSelect">Select Leaf Organization:</label> <select
			id="leafOrgSelect"></select>
		<button id="deleteOrgButton">Delete Organization</button>
	</div>
	<div>
		<h4>Update Organization</h4>
		<label for="orgNameUpdate">Name:</label> <input type="text" id="orgNameUpdate"
			required> <label for="orgDescriptionUpdate">Description:</label> <input
			type="text" id="orgDescriptionUpdate" required> <label
			for="orgSelectParent">Parent Organization:</label> <select
			id="orgSelectParent">
			<option value="">None (Set as Root)</option>
			<!-- Populate with parent organization options -->
		</select>

		<button type="button" id="updateOrgButton">Update
			Organization</button>
	</div>

	<table id="orgTable">
		<thead>
			<tr>
				<th>Name</th>
				<th>Organization ID</th>
				<th>Description</th>
				<th>Users</th>
			</tr>
		</thead>
		<tbody>
			<!-- Table rows will be inserted here by JavaScript -->
		</tbody>
	</table>
	</div>
</body>
</html>
