<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:include="fragments/head"></th:block>
</head>
<style>
table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 50%;
}

td, th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #dddddd;
}

form {
	width: 50%;
}
</style>
<!--<body class="horizontal-layout horizontal-top-icon-menu 2-columns   menu-expanded" data-open="hover" data-menu="horizontal-menu" data-col="2-columns">-->
<body
	class="horizontal-layout horizontal-menu horizontal-menu-padding 2-columns   menu-expanded"
	data-open="hover" data-menu="horizontal-menu" data-col="2-columns">
	<!-- fixed-top-->
	<!--    <th:block th:include="fragments/nav"></th:block>-->
	<!-- ////////////////////////////////////////////////////////////////////////////-->
	<!-- Horizontal navigation-->
	<th:block th:include="fragments/hnav"></th:block>
	<!-- Horizontal navigation-->

	<div class="container">
		<div class="text-center">
			<div class="lead">
				<H1>Period</H1>
			</div>
			<div id="contain" style="display: flex; align-items: center">
				<div id="left" style="width: 20%">
					<form id="form">
						<p>Period name</p>
						<input type="text" id='period_name'><br> <br>
						<p>Start date</p>
						<input type="date" id="start_date"><br> <br>
						<p>End date</p>
						<input type="date" id="end_date"><br> <br>
						<button id="submitBtn">Submit</button>
						<br>
					</form>
					<br> <br> <label for="period">Period</label> <select
						id="period" name="period">
						<option value="none"
							style="text-align: center; white-space: normal;">Not
							select</option>
					</select>
				</div>
				<div id="right">
					<table id="table">
						<tr>
							<th>Period name</th>
							<th>Start date</th>
							<th>End date</th>
							<th>Note</th>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<script>
			var form = document.getElementById("form");
			form.addEventListener('submit', function(event) {
				event.preventDefault()
				console.log('1');
				var periodName = document.getElementById('period_name').value;
				var startDate = document.getElementById('start_date').value;
				var endDate = document.getElementById('end_date').value;
				var period = document.getElementById('period');
				var table = document.getElementById('table');

				var opt = document.createElement('option');
				opt.value = periodName;
				opt.innerHTML = periodName + ' (' + startDate + ' - ' + endDate
						+ ')';
				period.appendChild(opt);
				console.log(periodName);
				console.log(startDate);
				console.log(endDate);

				var tr = document.createElement('tr');
				var th1 = document.createElement('th');
				var th2 = document.createElement('th');
				var th3 = document.createElement('th');
				var th4 = document.createElement('th');

				th1.value = periodName;
				th2.value = startDate;
				th3.value = endDate;

				th1.innerHTML = periodName;
				th2.innerHTML = startDate;
				th3.innerHTML = endDate;
				table.appendChild(tr);
				table.appendChild(th1);
				table.appendChild(th2);
				table.appendChild(th3);
				table.appendChild(th4);
			});
		</script>
		<!--        <div th:insert="~{fragments/footer :: footer}">&copy; 2017 The MKS Group</div>-->
	</div>
	<th:block th:include="fragments/footer"></th:block>
</body>
</html>