<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Periods</title>
    <th:block th:include="fragments/head"></th:block>
    <link type="text/css" rel="stylesheet" href="/library/webjars/handsontable/handsontable.full.min.css" /> 
</head>
<body>
	<div id="periods-title">Period</div>
    <div id="periods-table"></div>
	<script src="https://cdn.jsdelivr.net/npm/handsontable/dist/handsontable.full.min.js"></script>
    <script type="text/javascript" src="/library/webjars/handsontable/handsontable.full.min.js"></script>
    <script src="resources/js/period.js"></script>

</body>
</html>