<form id="frmOkr" action="newokr/save" method="POST" accept-charset="utf-8">
    <div>
        <div class="Mrphs-toolTitleNav__button_container ">
            <div>
                <label class="form-control-label">Status <select id="selFilter" name="authorIndexForm:filter-type" size="1">
                <option value="all">All</option>
                <option value="outofscope">C1_Draft</option>
                <option value="inscope">C2_Submitted</option>
            </select></label>              
            </div>
        
            <nav class="Mrphs-toolTitleNav Mrphs-container--toolTitleNav" aria-label="Tool navigation">
                <button id="btnSave" class="btn btn-primary">Save</button>
            </nav>
        </div>
    </div>
    
    <!--<div id="tblEmployee" class="table-responsive scroll-container">-->
    <div id="tblOkr">
    </div>
</form>