<!-- Fragment: Horizontal menu -->
<ul class="navIntraTool actionToolbar">
  <li>  
      <span title="Home">
        <a th:href="@{/}">Home</a>
      </span>
  </li>
 <li> 
     <span title="View configuration">
       <a th:href="@{/view-configuration}">Configuration</a>
     </span>
 </li>
 <li> 
     <span title="View langding">
       <a th:href="@{/landing-page}">Landing Page</a>
     </span>
 </li>
 <li> 
     <span title="View CRUD">
       <a th:href="@{/crud}">CRUD</a>
     </span>
 </li>
  <li> 
     <span title="View Upload">
       <a th:href="@{/upload}">Upload</a>
     </span>
 </li>
  <li> 
     <span title="Manage OKR">
       <a th:href="@{/newokr}">New OKR</a>
     </span>
 </li>
  <li> 
     <span title="View period">
       <a th:href="@{/period}">Period</a>
     </span>
 </li>
</ul>
