<!-- Fragment: Horizontal menu -->
<!-- <ul class="navIntraTool actionToolbar">
  <li>  
      <span title="Home">
        <a th:href="@{/}">Home</a>
      </span>
  </li>
 <li> 
     <span title="View configuration">
       <a th:href="@{/view-configuration}">Configuration</a>
     </span>
 </li>
 <li> 
     <span title="View langding">
       <a th:href="@{/landing-page}">Landing Page</a>
     </span>
 </li>
 <li> 
     <span title="View CRUD">
       <a th:href="@{/crud}">CRUD</a>
     </span>
 </li>
  <li> 
     <span title="View Upload">
       <a th:href="@{/upload}">Upload</a>
     </span>
 </li>
  <li> 
     <span title="Manage OKR">
       <a th:href="@{/newokr}">New OKR</a>
     </span>
 </li>
  <li> 
     <span title="View period">
       <a th:href="@{/period}">Period</a>
     </span>
 </li>
   <li> 
     <span title="Profile">
       <a th:href="@{/MyProfile}">Profile</a>
     </span>
 </li>
</ul> -->
<link rel="stylesheet" type="text/css"
	href="resources/css/my_profile.css">
<script src="resources/js/profile/my_profile.js">
	
</script>
<ul class="nav nav-tabs MKSOLheadertabs">
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/" id="tabprofile">Home</a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/view-configuration"
		id="tabPictures">Configuration </a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink active" href="/myo-web/landing-page"
		id="tabConnections">Landing</a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/crud" id="tabMessages">CRUD</a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/upload" id="tabSearch">Upload</a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/newokr"
		id="tabPrivacy">New OKR</a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/MyProfile"
		id="tabPreferences">Profile</a></li>
	<li class="nav-item MKSOLheaderitem"><a
		class="nav-link MKSOLheaderlink" href="/myo-web/period"
		id="tabPreferences">Period</a></li>

</ul>


