<ul class="nav nav-tabs MKSOLheadertabs">
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink active"
		aria-current="page" href="#">My profile</a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="#">Pictures </a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="#">Connections</a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="#">Messages</a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="#">Search</a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="#">Privacy</a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="#"
		tabindex="-1" aria-disabled="true">Preferences</a></li>
</ul>