<ul class="nav nav-tabs MKSOLheadertabs">
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink active"
		aria-current="page" href="/myo-web/MyProfile">My profile</a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="/myo-web/MyPictures">Pictures </a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="#">Connections</a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="#">Messages</a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="#">Search</a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="#">Privacy</a></li>
	<li class="nav-item MKSOLheaderitem"><a class="nav-link MKSOLheaderlink" href="#">Preferences</a></li>
</ul>