<link  rel="stylesheet" type="text/css" href="resources/css/my_profile.css">

<nav class="navbar navbar-expand-lg MKSOLnav fixed-top">
	<div class="navbar-brand MKSOLLogoGroup">
		<img class="MKSOLlogo" src="resources/assets/img/profile/sakaiLogo.png"/>

		<button class="btn icon-button btn-sidebar-collapse MKSOLnavtoggler"
			data-bs-toggle="tooltip" data-bs-target="#select-site-sidebar"
			data-portal-sidebar-collapsed=""
			data-bs-placement="bottom"
			aria-controls="portal-nav-sidebar" title="Collapse sidebar">
			<i class="bi bi-list" style="font-size: 24px; color: white"></i>
		</button>



	</div>
	<div class="collapse navbar-collapse MKSOL-ml-5"
		id="navbarNavAltMarkup">
		<div class="navbar-nav">
			<a class="nav-item nav-link active MKSOLfont" href="#">Home </a> <a
				class="nav-item nav-link MKSOLfont" href="#">> </a> <a
				class="nav-item nav-link MKSOLfont" href="#">Profile</a>
		</div>

	</div>

	<div class="d-flex">
		<button class="btn icon-button" data-bs-toggle="offcanvas"
			data-bs-target="#select-site-sidebar"
			aria-label="Launch The Help System"
			aria-controls="select-site-sidebar" title="Launch The Help System">
			<i class="bi bi-question-circle me-2"
				style="font-size: 24px; color: white"></i>
		</button>
		<button class="btn icon-button" data-bs-toggle="offcanvas"
			data-bs-target="#select-site-sidebar" aria-label="View All Sites"
			aria-controls="select-site-sidebar" title="View All Sites">
			<i class="bi bi-grid-3x3-gap-fill me-2"
				style="font-size: 24px; color: white"></i>
		</button>
		<button class="btn icon-button" data-bs-toggle="offcanvas"
			data-bs-target="#select-site-sidebar"
			aria-label="View Your Notifications"
			aria-controls="select-site-sidebar" title="View Your Notifications">
			<i class="bi bi-bell me-2" style="font-size: 24px; color: white"></i>
		</button>
		<button class="btn icon-button" type="button"
			data-bs-toggle="offcanvas" data-bs-target="#sakai-account-panel"
			aria-controls="sakai-account-panel" title="Account Menu">
			<img class="rounded-circle MKSOLavatar"
				src="resources/assets/img/profile/avatar.jpg" alt="Profile image">
		</button>
	</div>
</nav>