    <!-- Determine the root context of the application.  -->
    <script th:inline="javascript">
        var _themeroot = /*[[#{theme.root}]]*/ ''; 
    </script>
    
    <!-- ////////////////////////////////////////////////////////////////////////////-->

    
    <!-- BEGIN VENDOR JS-->
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/vendors.min.js'}" ></script>
    <!-- BEGIN VENDOR JS-->
    <!-- BEGIN PAGE VENDOR JS-->
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/ui/jquery.sticky.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/charts/jquery.sparkline.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/handsontable/handsontable.full.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/handsontable/jsgrid.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/handsontable/languages.min.js'}"></script>
    
    
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/datatable/datatables.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/datatable/dataTables.buttons.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/buttons.flash.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/jszip.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/pdfmake.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/vfs_fonts.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/buttons.html5.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/buttons.print.min.js'}"></script>

    
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/jquery.dataTables.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/datatable/dataTables.autoFill.min.js'}"></script>
    
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/datatable/dataTables.select.min.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/vendors/js/tables/datatable/dataTables.bootstrap4.min.js'}"></script>

    <!-- BEGIN ROBUST JS-->
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/js/core/app-menu.js'}"></script>
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/js/core/app.js'}"></script>
<!--    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/js/scripts/customizer.js'}"></script>-->
    <!-- END ROBUST JS-->
    
    <!-- BEGIN PAGE LEVEL JS-->
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/js/scripts/tables/datatables/datatable-advanced.js'}"></script>
    <!-- END PAGE LEVEL JS-->
    
    <script type="text/javascript" th:src="@{#{theme.root} + 'app-assets/js/scripts/tables/datatables-extensions/datatable-autofill.js'}"></script> 
    
    <script th:src="@{#{theme.root} + 'app-assets/vendors/js/pickers/daterange/daterangepicker.js'}"></script>
    <script th:src="@{#{theme.root} + 'app-assets/vendors/js/forms/validation/jquery.validate.min.js'}"></script>
    <script th:src="@{#{theme.root} + 'app-assets/vendors/js/extensions/jquery.steps.min.js'}"></script>
<!--     <script th:src="@{#{theme.root} + 'app-assets/js/scripts/forms/wizard-steps.js'}"></script> -->

    <script th:src="@{#{theme.root} + 'app-assets/js/scripts/modal/components-modal.js'}"></script>
   
    <script th:inline="javascript">
        var customer_code = /*[[#{customer.code}]]*/ '';
        var customer_name = /*[[#{customer.name}]]*/ '';
        var short_name = /*[[#{customer.shortName}]]*/ '';
        var phone = /*[[#{phone}]]*/ '';
        var address = /*[[#{address}]]*/ '';
        var submit = /*[[#{submit}]]*/ '';
    </script>
    

  <!-- END PAGE VENDOR JS-->